{{use('yii/widgets/ActiveForm')}}
{% set form = active_form_begin({
    'id' : 'filter_reclam',
    'method':'post',
    'options':{
        'data-pjax':1
    },
    'options' : {'class' : 'form-horizontal'},
}) %}

<div class="col-sm-6 col-lg-5">
    {{form.field(model, 'timeused').widget(DateTimePicker, {
                'type':2,
                'convertFormat':true,
                'options':{'multiple':false, 'placeholder':t('frontend','Select time ...')},
                'pluginOptions':{
                    'autoclose':true,
                    'format':'dd/MM/yyyy HH:i'
                },
            }) | raw }}
</div>
<div class="col-sm-3 col-lg-2">
    <div class="form-group">
        <label class="control-label">&nbsp;</label>
        <div class="input-group date">
            <input type="submit" value="{{t('frontend','Search')}}" class="btn btn-default" />
        </div>
    </div>
</div>
<div class="clearfix"></div>
{{ active_form_end() }}