{{ use('yii/widgets/ListView') }}
{{ use('yii/widgets/Pjax') }}

{{set(this,'title', title|e)}}
{{this.registerMetaTag({'name':'keywords', 'content':keywords|e})}}
{{this.registerMetaTag({'name':'description', 'content':metadesc|e})}}

<section class="section-second">
    <div class="container-fluid">
        <h2>{{t('frontend','Voice Reclams')}}</h2>
        {{ pjax_begin({'id' : 'channellist','enablePushState':false, 'enableReplaceState':false}) }}
        {{this.render('_search.twig', {'model':searchModel})|raw}}
        {% if dataProvider %}
            <div class="col-sm-12 no-padding headreclam">
                <div class="col-sm-3 col-lg-2 text-center" style="border-right: 1px solid white;">{{t('frontend','Name')}}</div>
                <div class="col-sm-2 col-lg-2 text-center" style="border-right: 1px solid white;">{{t('frontend','Date')}}</div>
                <div class="col-sm-4 col-lg-5 text-center" style="border-right: 1px solid white;">{{t('frontend','Description')}}</div>
                <div class="col-sm-3 col-lg-3 text-center" style="border-right: 1px solid white;">{{t('frontend','File')}}</div>
            </div>
            {{listView_widget({
'dataProvider': dataProvider,
'itemView':'_list.twig',
    'options': {
        'tag':'div',
        'class':'col-sm-12 listreclam',
        'id':'reclam-list',
    },
    'itemOptions': {
        'tag':'div',
        'class':'row',
    },
    'emptyText':'',
'layout':'{items}\n<div class="col-sm-12 text-center">{pager}</div>',
})|raw}}
            {{ pjax_end() }}
        {% endif %}
    </div>
</section>

