
.audioplayer.skin-customcontrols{
  position: static;

  .custom-play-btn,.custom-pause-btn{

    cursor: pointer;

    $transition-property: all;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;

    @include apply_transition($transition-property, $transition-duration, $transition-timing);
  }

  .custom-play-btn{
    opacity:1;
    visibility: visible;
  }
  .custom-pause-btn{
    opacity:0;
    visibility: hidden;
  }

  .meta-artist-con{
    display: none;
  }

  .feed{
    display: none;
  }
}


.audioplayer.skin-customcontrols.is-playing{

  .custom-pause-btn{
    opacity:1;
    visibility: visible;
  }
  .custom-play-btn{
    opacity:0;
    visibility: hidden;
  }
}


.audioplayer.skin-customcontrols.position-relative{
  position: relative;


  .playbtn-darkround,.pausebtn-darkround{
    position: relative;
    top: 0; left:0;

    transform: translate3d(0,0,0);


  }

  .pausebtn-darkround{
    position: absolute;
  }
}