
$color_bg: #111111;
$color_main: #aaaaaa;
$color_main_hover: #dddddd;
$color_highlight: #db4343;
$color_highlight_2: #ea8c52;
$font_highlight: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;


//$color_highlight_2: #E5884F;

$thumb_size : 130px;


$size_scrub: 50px;
$size_scrub_reflect: 15px;
.audioplayer.skin-wave{






  .ap-controls{
    height: auto;
    width: auto;
    position: relative;
    .con-controls{
      position: relative;
      margin-top: 10px;
      height: 45px;

    }





    .con-playpause{
      display: inline-block;

      position: relative;

      left:0;
      vertical-align: middle;
      top:0;
      width:45px;
      height:45px;
      flex : 0 0 45px;
      -webkit-tap-highlight-color:rgba(0,0,0,0);

      margin-right: 15px;

      .playbtn{

        background-position: center center;
        background-repeat: no-repeat;
        width:100%;
        height:100%;

        border: solid transparent;
        border-color: rgba(136, 183, 213, 0);
        border-left-color: transparent;
        border-width: 0px;
        border-left-width: 0px;

        position: relative;

        background-color: $color_highlight_2;

        border-radius: 50%;

        &:before{

          $transition-property: transform;
          $transition-duration: 0.3s;
          $transition-timing: ease-out;

          transform: scale(1);

          @include apply_transition($transition-property, $transition-duration, $transition-timing);
        }


        &:hover:before{

          transform: scale(0.9);

          //opacity: 0.9;
        }


      }
      .playbtn:before{

        position: absolute;
        top: 50%;
        left:50%;


        margin-top: -10px;
        margin-left: -5px;


        content: " ";
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;

        border-left: 15px solid #EEEEEE;
      }

      .pausebtn{

        background-position: center center;
        background-repeat: no-repeat;
        width:100%;
        height:100%;


        background-image: none;



        background-color: $color_highlight_2;

        border-radius: 50%;

        &:hover{
          //opacity: 0.9;
        }
      }

      .pausebtn:before,.pausebtn:after{


        position: absolute;
        top: 50%;
        left:50%;


        margin-top: -9px;
        margin-left: -6px;


        content: " ";
        width: 4px;
        height: 18px;

        background-color: #EEEEEE;


        $transition-property: transform;
        $transition-duration: 0.3s;
        $transition-timing: ease-out;

        transform: scale(1);

        @include apply_transition($transition-property, $transition-duration, $transition-timing);

      }
      .pausebtn:after{




        margin-left: 2px;



      }


      .pausebtn:hover:before,.pausebtn:hover:after{
        transform: scale(0.8);
      }


    }
  }


  .btn-zoomsounds{
    position: relative;
  }


  .volume_active{
    background-color: $color_highlight;
  }
  .meta-artist-con{


    overflow-y: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;

    position: relative;
    left:0;
    bottom: auto;

    width: auto;

    margin-right: 15px;
  }

  .meta-artist{
    font-size:0;

    .the-artist{
      margin-bottom: 0px;
      //font-size: 16px;
      color: $color_highlight;

      width: 100%;
      overflow: hidden;
      position: relative;
      display: block;
      text-overflow: ellipsis;

      font-size: 11px;

    }
    .the-artist:after{
      content: "";
      display: block;
      clear: both;
      height: 0px;
    }
    .the-name{
      margin-top:5px;
      display: inline-block;
      width: auto;

      font-size: 16px;

      //font-weight: bold;

      color: #555555;

      >a{

        color: #555555;
      }
    }
  }


  .ap-controls:after{
    content: "";
    display: block;
    clear: both;
  }
  .btn-menu-state{

  }




  .meta-artist-con{
  }
  .btn-embed-code{


    > svg{
    }
  }

  .curr-time,.total-time{

    padding: 4px 7px;
    font-size: 10px;

    opacity: 0;
    visibility: hidden;

    //$transition-property: top,opacity,visibility;
    //$transition-duration: 0.15s;
    //$transition-timing: ease-out;
    //
    //
    //
    //@include apply_transition($transition-property, $transition-duration, $transition-timing);
  }
  .curr-time,.total-time{

    top: ($size_scrub - 12px);
  }

  .curr-time{
    background: rgba(0,0,0,0.7);
    color: #eee;
    position: absolute;
    bottom: auto;

    $transition-property: opacity;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;



    @include apply_transition($transition-property, $transition-duration, $transition-timing);


    &.scrub-time:not(.ceva):not(.alceva){
      opacity: 0.5
    }
  }


  .pausebtn{

    .pause-icon{
      display: none;
    }


    &:after, &:before{

      opacity: 0;
      visibility: hidden;
      $transition-property: opacity,visibility;
      $transition-duration: 0.3s;
      $transition-timing: linear;

      @include apply_transition($transition-property, $transition-duration, $transition-timing);
    }

  }
  .loading-svg{
    @include centerit();

    display: block;

    opacity: 1;
    visibility: visible;

    $transition-property: opacity,visibility;
    $transition-duration: 0.3s;
    $transition-timing: linear;

    @include apply_transition($transition-property, $transition-duration, $transition-timing);
  }

  &.meta-loaded{

    .pausebtn{

      &:after, &:before{

        opacity: 1;
        visibility: visible;
      }

    }
    .loading-svg {

      opacity: 0;
      visibility: hidden;
    }
  }

  .con-playpause{

  }


  .total-time{
    background: rgba(255,255,255,0.7);
    color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: auto;
    left:auto;
    right: 0;


    opacity: 0;

    $transition-property: opacity;
    $transition-duration: 0.3s;
    $transition-timing: linear;

    @include apply_transition($transition-property, $transition-duration, $transition-timing);

  }

  .con-controls{
    >*{
      vertical-align: middle;
    }

    &:after{
      display: block;content: "";
      clear: both;
    }
  }

  .curr-time.static{
    right:40px;
    top: 0;
    bottom: auto;

  }
  .total-time.static{
    right: 0;
    top:0;
    bottom: auto;

  }

  .prev-btn,.next-btn{


    > svg{


      path{
        fill: #FFF;
      }
    }




    background-color: $color_highlight_2;
    border-radius: 50%;



  }

  .con-playpause + .next-btn{
    margin-left: -15px;
  }
  .next-btn{



    margin-right: 15px;

    > svg {

      margin-left: 2px;
    }



    path{
      $color: #444444;
      fill: $color;
    }
  }

  .audioplayer-inner {
    .the-thumb-con{
      position: absolute;
      width: $thumb_size;
      height: $thumb_size;
      margin-right: 20px;

    }
    .the-thumb-con ~ .ap-controls{
      padding-left: ($thumb_size + 20px);

      overflow: visible;

    }
  }



  .comments-holder{
    display: block;
    position:absolute;
    height: 14px;
    top: ($size_scrub + 1);
    visibility: hidden;
    cursor: pointer;

    opacity: 0;
    visibility: hidden;


    $transition-property: opacity,visibility;
    $transition-duration: 0.1s;
    $transition-timing: ease-out;
    @include apply_transition($transition-property, $transition-duration, $transition-timing);

    .dzstooltip-con{

      $transition-property: opacity,visibility;
      $transition-duration: 0.4s;
      $transition-timing: ease-out;
      @include apply_transition($transition-property, $transition-duration, $transition-timing);
    }


    .the-comments-holder-bg{
      display: block;
      position:absolute;
      width: 100%;height: 100%;
      top:0;left:0;
    }

    .dzstooltip-con{
      position: absolute;
      top:0;
    }

    .the-avatar{
      width: 14px;
      height: 14px;
      background-color: #111;
      background-position: center center;
      background-size: contain;
    }


    .the-comment-author{
      color: #53c3e2;
    }


    .placeholder .the-avatar{
      box-shadow: 0 0 3px 0 rgba(255,255,255,1);
    }
  }
  .comments-holder.active{
    visibility: visible;
  }

  .controls-volume{

    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 41px;
    top:0;
    left:0;

  }
  .controls-volume{

    margin-left: 10px;

  }
  .controls-volume{
    margin-left: 15px;
  }

  .comments-writer{

    $color_bg : rgba(255,255,255,0.7);

    padding-top: 10px;
    max-width: 500px;
    margin: 0 auto;
    .comments-writer-inner{
      background: rgba(0,0,0,0.4);
      @include boxsizing();
      padding: 5px 15px;

      position: relative;
    }
    .comments-writer-inner:before{

      content: "";

      position: absolute;

      left:50%;

      bottom: 100%;

      margin-left: -5px;

      opacity:0;

      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;

      border-bottom: 5px solid rgba(0,0,0,0.4);


      $transition-property: opacity;
      $transition-duration: 0.3s;
      $transition-timing: linear;



      @include apply_transition($transition-property, $transition-duration, $transition-timing);
    }

    $comments_color: #777;
    input[type=text], textarea{

      border: 1px solid rgba(255,255,255,0.3);

      background-color: $color_bg;
      border-radius: 0px;
      color: $comments_color;
      display: inline-block;
      font-size: 13px;
      line-height: 18px;
      margin-top: 9px;
      margin-bottom: 9px;
      padding: 5px 8px;
      width: 100%;

      resize:none;


      $transition-property: all;
      $transition-duration: 0.3s;
      $transition-timing: linear;



      @include apply_transition($transition-property, $transition-duration, $transition-timing);
      @include boxsizing();
    }
    input[type=text]:focus, textarea:focus{

      border-color: rgba(219, 67, 67, 0.1);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.01) inset, 0 0 8px rgba(219, 67, 67, 0.1) inset;
      outline: 0 none;
    }


    .audioplayer.skin-wave .comments-writer textarea::-webkit-input-placeholder{
      color: $comments_color!important;
      opacity:1;
    }
    .audioplayer.skin-wave .comments-writer textarea::placeholder{
      color: $comments_color!important;;
      opacity:1;
    }
    .audioplayer.skin-wave .comments-writer .comment-input:-webkit-input-placeholder{
      color: $comments_color!important;
      opacity:1;
    }
    .audioplayer.skin-wave .comments-writer ::-webkit-input-placeholder{
      color: $comments_color!important;
      opacity:1;
    }
    .audioplayer.skin-wave .comments-writer textarea::placeholder{
      color: $comments_color!important;;
      opacity:1;
    }

    .float-right{
      position: relative;

    }


  }

  $size_thumb: 130px;

  .audioplayer-inner .the-thumb{
    position: relative;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $color_bg;
    @include boxsizing();

    border-radius: 5px;
  }

  .ap-controls .scrubbar .scrub-bg .scrub-bg-img{
    height:100%;
    width: 100%;
    max-width: none;
    position: relative;
    $transition-property: visibility,opacity,transform;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;
    @include apply_transition($transition-property, $transition-duration, $transition-timing);
  }

  .ap-controls .scrubbar .scrub-bg-img.transitioning-in, .ap-controls .scrubbar .scrub-prog-img.transitioning-in{

    position: absolute;
    top:0px;
    left:0;

    opacity: 0;
  }



  &.fast-animate-scrubbar {
    .ap-controls {
      .scrubbar {


        $transition-property: opacity;
        $transition-duration: 0.1s;
        $transition-timing: ease-out;

        @include apply_transition($transition-property, $transition-duration, $transition-timing);
      }
    }
  }




  .comments-writer{

    height: 0;
    overflow: hidden;
    position: relative;

    margin-left:0;
    margin-right:0;
    $transition-property: height;
    $transition-duration: 0.3s;
    $transition-timing: linear;
    @include apply_transition($transition-property, $transition-duration, $transition-timing);
  }
  .comments-writer.active{

    .comments-writer-inner:before{

      opacity:1;
    }
  }


  .volume_static{
    &:before{

      background: #4f4949;
    }
  }

  &.skin-wave-wave-mode-canvas-mode-reflecto{
    .scrubbar+.con-controls{
      margin-top: 20px;
    }
  }

  &.skin-wave-mode-nocontrols{
    .scrubbar{
      height: 150px;
    }
    .the-thumb-con, .total-time, .curr-time,.con-controls{
      display: none;
    }
    .ap-controls{
      padding-left:0;
    }




    .the-thumb-con ~ .ap-controls{
      padding-left:0;

    }
  }

  &.disable-scrubbar{

    /* -- disalbe comments if no scrubbar for skinw

     */
    .comments-holder,.comments-writer{
      display: none;
    }

    &.skin-wave-mode-alternate.has-thumb{
      .con-controls{
        margin-bottom: 70px;
      }
    }
  }





  &[data-reflection-size="0.75"]{

    .scrubbar{

      transform-origin: left 75%;
    }
    .scrub-bg,.scrub-prog{

      transform-origin: left 75%;

      >canvas{

        transform-origin: left 75%;
      }
    }

    .scrubbar{
      &:after{
        top:75%;
      }
    }

    .curr-time,.total-time{
      //top: 75%;
    }
  }
  &[data-reflection-size="0.5"]{

    .scrubbar{

      transform-origin: left 50%;
    }
    .scrub-bg,.scrub-prog{

      transform-origin: left 50%;

      >canvas{

        transform-origin: left 50%;
      }
    }

    .scrubbar{
      &:after{
        top:50%;
      }
    }
  }
  &[data-reflection-size="1"]{

    .scrub-bg,.scrub-prog{

      transform-origin: left 100%;

      >canvas{

        transform-origin: left 100%;
      }
    }

  }




  &:not(.skin-wave-is-spectrum){

    .scrub-bg{
      transition-delay: 0.2s;
      transform: scaleY(0);
      $transition-property: transform;
      $transition-duration: 0.3s;
      $transition-timing: ease-out;
      @include apply_transition($transition-property, $transition-duration, $transition-timing);
    }
  }




  &.theme-dark{


    background-color: #222222;

    .meta-artist .the-name>a{
      color: #ffffff;
    }
  }
}

.audioplayer.skin-wave.skinvariation-wave-righter{

  .playbuttons-con{
    float: none;
    flex: 1;
    white-space: nowrap;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;

    border-left : 1px solid rgba(255,255,255,0.4);

    padding-left: 10px;
    margin-left: 10px;
  }

}

@media all and (max-width: 770px){

  .audioplayer.skin-wave.skinvariation-wave-righter{
    line-height: 1;

    .scrubbar:not(.ceva){
      position: absolute;
      top:0;
      left:0;

      height: 20px;

      left: -10px;
      width: calc(100% + 20px);
      top: -30px;

      .scrub-bg,.scrub-prog{
        background-color: #807073;
        canvas{
          display: none;
        }
      }

      .scrub-prog{
        background-color: #00a99d;
      }

      .curr-time, .total-time{

        display: none;
      }
    }

    .ap-controls{
      .ap-controls-left{
        flex: 3;

        .meta-artist-con{
          max-width: 500px;
        }
      }
    }
  }
}
.audioplayer.skin-wave.skinvariation-wave-grey{




  &,.audioplayer-inner{



  }

  $h: 90px;
  .audioplayer-inner{

    height: $h;
    background-color: #aaaaaa;
    .the-thumb{
      border-radius: 0;
    }

    .has-player-full-height{
      height: $h;
      display: flex;
      align-items: center;

      margin-left: 10px;

      background-color: #999;

      .just-icon-icon:first-child{
        margin-left: 15px;
      }
      .just-icon-icon{
        margin-right: 15px;

        color: #444;

        &:hover{
          color: $color_highlight
        }
      }
    }

    .the-thumb-con{
      width: $h;
      height: $h;
    }

    .scrubbar{
      height: 55px;
    }
  }
  .meta-artist-con{
    max-width: 150px;
  }
  .first-line,.second-line{
    color: #443f3f;
  }

  .first-line{
    font-size: 18px;

  }
  .second-line{
    font-size: 13px;
  }

  &.skin-wave-mode-small{
    .ap-controls{
      top: 50%;
      transform: translate(0,-50%);
    }
  }
}


.audioplayer.skin-wave.under-720{
  .btn-embed-code{
    display: none;
  }

  .meta-artist-con{

    .the-artist{
      display: block;
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      position: relative;
    }

    .the-name{
      display: block;
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}








.audioplayer.skin-wave.skin-wave-mode-alternate{

  $size_thumb : 100px;
  .the-thumb-con{
    width: $size_thumb;
    height: $size_thumb;
  }

  &.has-thumb{
    .audioplayer-inner{
      .ap-controls{
        padding-left: ($size_thumb+20px);
      }
    }
  }


  .ap-controls{

    .ap-controls{
      padding-left: ( $size_thumb+10px );
    }
    .con-controls{
      position: relative;
      margin-bottom: -2px;
      margin-top: 5px;

      white-space: nowrap;
    }
    .con-playpause{
      position: relative;
    }
    .meta-artist-con{
      position: relative;
      overflow:hidden;
      left:0;
      top:0px;
      max-width:none;
      text-align:left;

      .the-artist{
        margin-top: 0;
      }
      .the-name{
        display: block;
        margin-bottom: 0;
        margin-top: 3px;

      }
    }

    .scrubbar{
      height: 60px;

    }

    .scrub-bg-img{
      //top: -2px;
    }




    .controls-volume{


      float:right;
      position: relative;
      left:0;
      bottom:auto;
    }
    .scrubbar{
      .scrub-bg,.scrub-prog{
        height: 70px;
      }

      .scrub-bg{
        position:relative;


      }
      .scrub-bg-reflect{
        position:relative;
        top:0;
      }
      .scrub-prog-reflect{
        top:70px;
      }
    }
    .curr-time,.total-time{
      top: 55px;
    }
  }

  .comments-holder{
    top: 120px;
  }

  .comments-writer{

    position: relative;
    left: 50%;
    top: 0;
    margin:0;
  }


  .btn-embed-code-con{
  }

}

.audioplayer.skin-wave.button-aspect-noir{

  $color: #444444;
  .svg-icon{
    path{
      fill: $color;
    }
  }

  .con-playpause{
    $size: 40px;
    width: $size;
    height: $size;

    flex: 0 0 auto;


    border-radius: 50%;

    .playbtn,.pausebtn{
      background-color: transparent;
      border:0;

      .the-icon-bg{

        position: absolute;
        top:0;
        left:0;
        width: 100%;height: 100%;

        border: 1px solid $color;

        border-radius: 50%;


        transform: translate3d(0%,0%,0) scale(1);


        $transition-property: transform;
        $transition-duration: 0.3s;
        $transition-timing: ease-out;
        @include apply_transition($transition-property, $transition-duration, $transition-timing);
      }
      svg.svg-icon{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate3d(-50%,-50%,0) scale(1);


        $transition-property: transform;
        $transition-duration: 0.3s;
        $transition-timing: ease-out;
        @include apply_transition($transition-property, $transition-duration, $transition-timing);

        margin-left: 2px;
      }

      &:before{
        display: none;
      }
    }

    &:hover{
      .the-icon-bg{

        transform: translate3d(0%,0%,0) scale(0.9);
      }
      svg.svg-icon{
        transform: translate3d(-50%,-50%,0) scale(1.1);
      }
    }

    .pausebtn{
      .pause-icon{
        display: block!important;

        .pause-part-1,.pause-part-2{
          display: none;
        }
        .svg-icon{

          margin-left: 0px;
        }
      }

      &:after{
        display: none;
      }
    }
  }

  .next-btn,.prev-btn{
    background-color: transparent;






  }




  &.button-aspect-noir--filled{

    .playbtn,.pausebtn, .player-but{
      .the-icon-bg{

        background-color: $color;
      }
    }

    i.svg-icon{
      color: #ffffff;
    }
    .svg-icon{

      path{
        fill: #fff;
      }
    }
  }


  &.button-aspect-noir--stroked{

    .playbtn,.pausebtn, .player-but{
      .the-icon-bg{

        background-color: transparent;

        border:none;

      }
    }

    i.svg-icon{
      color: #ffffff;
    }
    .svg-icon{

      path{
        fill: transparent;

        stroke: #fff;
      }
    }
  }

}





.audioplayer.skin-wave-mode-small{

  $size_thumb : 60px;
  .audioplayer-inner{
    height: 60px;
    .the-thumb-con{

      display: inline-block;
      vertical-align: middle;
      width: $size_thumb;
      height: $size_thumb;
      position: relative;

      .the-thumb{
      }
    }
  }

  .meta-artist-con + .the-thumb-con{
    margin-left: 20px;
  }

  .ap-controls{
    overflow: visible;
    width: 100%;
    position: absolute;
    left: 0; top:0;
    line-height: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;;

    .extra-dzsap-button{
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

    .ap-controls-left{
      float:none;
      position: relative;
      flex:1;
      white-space: nowrap;

      //display: flex;
      //align-content: center;
      .the-thumb-con{

      }

      >*{
        vertical-align: middle;
      }

    }
    .ap-controls-right{
      float:none;

      flex:1;
      white-space: nowrap;
      flex-wrap: nowrap;

      display: flex;
      align-items: center;

      >.meta-artist-con:first-child{
        margin-left: 20px;
      }
      >.meta-artist-con + .the-thumb-con{
        margin-left: 0px;
      }
      >.the-thumb-con + .controls-volume{
        margin-left: 0px;
      }
    }

    .the-bg{
      display: none;
    }

    .controls-volume{
    }
    .scrubbar{
      flex: 30;
      width: auto;
      height: 60px;
      top:0;
      left:0;
      .scrubBox-hover{
        height: 60px;
        top:0;
      }
      .scrub-bg, .scrub-prog{
        height: 60px;
      }
      .scrub-bg-reflect, .scrub-prog-reflect{
        height: 20px;
        top: 60px;
      }


    }


    .con-playpause{

      display: inline-block;
      left:0;
      position: relative;
      margin-left: 0px;
      vertical-align: middle;
      margin-right: 20px;

      & + .extra-dzsap-button{
        margin-left: -10px;
      }
    }

    .dzsap-repeat-button,.dzsap-loop-button{
      margin-right: 20px;
      cursor: pointer;

      path{
        fill:#444;
        $transition-property: fill;
        $transition-duration: 0.3s;
        $transition-timing: ease-out;
      }
    }
    .dzsap-loop-button:hover, .dzsap-loop-button.active{
      path{
        fill: $color_highlight;
      }
    }
    .con-controls{
      position: absolute;
      left: 0; top:0;
      margin-top:0;
    }

    .btn-embed-code-con{
      position: relative;
      display: inline-block;
      left:0;
      bottom: auto;
      margin-left: 13px;
    }

    .controls-volume{
      position: relative;

      margin-left: 15px;
      margin-right: 0px;
    }

  }

  .meta-artist-con{
    left:0;
    position: relative;

    display: inline-block;
    vertical-align: middle;

    margin-right: 20px;
    max-width: none;
    white-space: nowrap;

    bottom: auto;
    max-width: 110px;

    overflow: visible;

    .the-name{
      width: auto;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .curr-time,.total-time{
    top: 43px;
  }

  .comments-holder{
    top: 60px;
  }
  .meta-artist-con{
    visibility: visible;;
  }

  .prev-btn{

  }
  .next-btn{

    margin-left: 10px;
    margin-right: 10px;
  }

  .ap-controls-right{
  }

  &.under-500:not(.disable-scrubbar){
    .meta-artist-con{
      display: none;
    }
  }
  &.under-400{
    .the-thumb-con{
    }
  }

  &.disable-scrubbar{
    .meta-artist-con{
      max-width: none;
    }
  }
}