
/*
 * Author: Audio Player with Playlist
 * Website: http://digitalzoomstudio.net/
 * Portfolio: http://bit.ly/nM4R6u
 * Version: 3.00
 * */



@mixin apply_transition($transition-property, $transition-duration, $transition-timing) {
  transition-property: $transition-property;transition-duration: $transition-duration;transition-timing-function: $transition-timing;-moz-transition-property:$transition-property;-moz-transition-duration: $transition-duration;-moz-transition-timing-function:$transition-timing;-webkit-transition-property:$transition-property;-webkit-transition-duration: $transition-duration;-webkit-transition-timing-function:$transition-timing;-o-transition-property:$transition-property;-o-transition-duration: $transition-duration;-o-transition-timing-function:$transition-timing;-ms-transition-property:$transition-property;
  -ms-transition-duration: $transition-duration;-ms-transition-timing-function:$transition-timing;
}
@mixin boxsizing() {
  -moz-box-sizing:    border-box;   -webkit-box-sizing: border-box;    box-sizing:        border-box;
}

@mixin centerit() {
  position: absolute;
  top:50%; left:50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);
}

$classmain : ".audioplayer";

$transition-property: all;
$transition-duration: 0.3s;
$transition-timing: ease-out;





.ap-wrapper{
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.ap-wrapper > .the-bg{
  position: absolute; top:0; left:0;
  width: 100%; height: 100%;
  background-size: cover;
  background-position: center center;

  pointer-events: none;
}

.ap-wrapper.center-ap{
  > *[class*="audio"],.zoomsounds-comment-wrapper{
    max-width: 1190px;
    margin: 0px auto;

    margin-top: 40px;
    margin-bottom: 40px;
  }



}

*[class*="audioplayer"] .the-comments{
  display: none;
}
*[class*="audioplayer"] .feed-embed-code{
  display: none;
}
.feed-dzsap{
  display: none;
}



/* -- functional styling */
#{$classmain} .menu-description{ display: none;
}
#{$classmain}.fullflashbackup{

  height: auto;
}
#{$classmain}.skin-default.fullflashbackup{

  height: auto;
}

$size: 30px;

.audioplayer{
  &.preload-method-none,&.meta-loaded,&.cue-off{
    .loading-svg:not(.ceva){
      display: none;
    }
  }

  .prev-btn, .next-btn, .btn-menu-state{
    position:absolute;
    top:0; left:0;
    background-size: cover;
    background-position:  center center;
    background-repeat: no-repeat;
    width: $size;
    height: $size;
    cursor: pointer;
  }
}




$color_bg: #111111;
$color_main: #aaaaaa;
$color_main_hover: #dddddd;
$color_highlight: #ae1919;
$font_highlight: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;


.audioplayer-tobe{


  opacity: 0;

}
.audioplayer-tobe.for-add{
  display: none;

}


.audioplayer,.audioplayer-tobe{


  $transition-property: opacity;
  $transition-duration: 0.2s;
  $transition-timing: ease-out;
  @include apply_transition($transition-property, $transition-duration, $transition-timing);


  >div[class^="feed-"]{
    display: none;
  }

  i{

    &,&+.i-label{

      display: inline-block;
      vertical-align: middle;
    }
  }
}

.audioplayer{

  position:relative;
  width: 100%;
  height: auto;
  line-height: 1;

  opacity: 1;

  * {
    @include boxsizing();
  }
  .prev-btn, .next-btn, .btn-menu-state,.btn-embed-code {


  }
  .btn-menu-state,controls-volume{
    display: inline-block;
    vertical-align: middle;
    float:none;
  }
  .ap-controls{

    .the-bg{
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height:100%;
      z-index:0;
    }

  }

  .meta-artist-con{
    position: absolute;
    left: 28px;
    bottom:9px;
    color: $color_main_hover;
    max-width: 50%;
    overflow-x: hidden;
    overflow-y: visible;
    font-size: 11px;
    visibility: hidden;
    opacity: 0;
    line-height: 1.1;
  }


  .curr-time{
    color: #eee;
    position: absolute;
    padding: 4px 7px;
    font-size: 12px;
    top: auto;
    bottom: 4px;
    line-height: 1;


  }
  .total-time{
    color: #ccc;
    position: absolute;
    padding: 3px 7px;
    font-size: 10px;
    top: auto;
    bottom: 6px;
    right: auto;
    line-height: 1;

  }

  .sample-block-start,.sample-block-end{
    height: 100%;
    background-color: transparent;
    cursor: default;
    position: relative;
  }
  .sample-block-end{
    top: -100%;
  }



  /* === VOLUME STRUCTURE */


  .controls-volume{
    top: auto;

    height: 14px;
  }

  .volumeicon{
    position: absolute;
    top:50%;
    transform: translate3d(0,-50%,0);
    left:0px;
    background: $color_main;
    background-position: center center;
    background-repeat: no-repeat;
    width:7px;
    height:7px;
    cursor: pointer;
    $transition-property: background;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;
    @include apply_transition($transition-property, $transition-duration, $transition-timing);
  }



  .volumeicon:before{
    position: absolute;
    left: -4px;
    bottom: -3px;
    background: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    width:0px;
    height:0px;

    content: " ";
    border: solid transparent;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: $color_main;
    border-width: 7px;
    margin-left: 0px;
    outline: 1px solid transparent;
    $transition-property: border;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;
    @include apply_transition($transition-property, $transition-duration, $transition-timing);
  }


  .controls-volume:hover .volumeicon{
    background: $color_main_hover;
  }



  .controls-volume:hover .volumeicon:before{
    border-right-color: $color_main_hover;
  }

  .volume_static,.volume_active{

    position:absolute;
    top:50%;
    transform: translate3d(0,-50%,0);
  }

  .volume_static{
    left:16px;
    width:26px;
    height:4px;
    cursor: pointer;

    &:before{

      height:2px;
      width: 100%;
      position:absolute;
      background-color: $color_main;
      background-position: center center;
      background-repeat: repeat-x;

      content: "";
      top: 1px;

      left:0;
    }
    &:after{

      height:10px;
      width: 100%;
      position:absolute;

      content: "";
      top: 0px;

      left:0;
    }
  }

  .total-time+.meta-artist-con{
    margin-left: 5px;
  }

  $transition-property: width;
  $transition-duration: 0.1s;
  $transition-timing: ease-out;


  .volume_active{
    left:16px;
    background: $color_highlight;
    background-position: center center;
    background-repeat: repeat-x;
    width:24px;
    height:2px;
    pointer-events:none;
    @include apply_transition($transition-property, $transition-duration, $transition-timing);
  }
  .volume_cut{
    display: none;
  }


  .controls-volume.controls-volume-vertical{
    line-height: 1;
    .volume-holder{
      position: relative;
      background-color: #333333;
      display: block;
      width: 20px;
      height: 45px;

      top: -65px;
      left: -4px;


      visibility: hidden;
      opacity: 0;
      transform: scale(0);


      $transition-property: all;
      $transition-duration: 0.25s;
      $transition-timing: ease-out;

      &:after{

        content: "";
        height:20px!important;
        width: 100%;
        position:absolute;

        content: "";
        top: 100%;

        left:0;
      }

      @include apply_transition($transition-property, $transition-duration, $transition-timing);

      .volume_static,.volume_active{
        width: 2px;
        height: 26px;
        top:auto; bottom: 2px;
        transform: translate3d(0,0,0);


      }

      .volume_static{
        position: relative;
        bottom:-4px;
        left:-1px;
        display: block;
        margin: 0 auto;
        background-color: #444444;

        &:before{
          display: none;
        }

      }
      .volume_active{

        bottom:9px;
        left:9px;
      }

    }
    .volume-holder:before{

      content: "";
      position: absolute;
      left: 50%;
      top: 100%;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;

      border-top: 5px solid #333333;

      margin-left: -5px;
    }
    .volume-holder:after{

      content: "";
      position: absolute;
      left: 0%;

      top: 100%;
      width: 100%;
      height: 10px;
      background-color: transparent;
    }
  }
  .controls-volume.controls-volume-vertical:hover{
    .volume-holder{
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }


  .ap-controls-right{
    float:right;

    >*{
    }

    &:empty{
      display: none!important;
    }
  }
  .ap-controls-right:after{
    content:"";
    display: block;
    clear: both;
  }

  .con-controls .controls-volume{
    position: relative;
  }

  &.disable-scrubbar{
    .scrubbar{
      display: none;
    }
  }
  &.disable-volume{
    .controls-volume{
      display: none!important;
    }
  }

  &.disable-all-but-play-btn{

    display: inline-block!important;
    width: auto!important;

    .the-thumb-con{
      display: none!important;
    }


    .audioplayer-inner{


      display: inline-block!important;
      width: auto!important;
      height: auto!important;

      .ap-controls{

        display: inline-block!important;
        width: auto!important;

      }

      .con-controls{

        margin-top:0!important;

        display: inline-block!important;
        width: auto!important;

        .con-playpause{
          margin-right:0;
        }
      }
    }
    .scrubbar,.the-thumb-con{
      display: none;
    }

    .ap-controls{
      padding-left: 0 !important;
    }

    .controls-volume,.meta-artist-con,.ap-controls-right{
      display: none!important;
    }

  }

  .player-but,.player-but-no-style{



    display: inline-block;
    position: relative;

    vertical-align: middle;

    margin-right: 5px;
  }

  $color: #444444;
  .player-but{
    $size: 28px;
    width: $size;
    height: $size;

    background-color: transparent;


    color: $color;

    .the-icon-bg {

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      border: 1px solid $color;

      border-radius: 50%;

      transform: translate3d(0%, 0%, 0) scale(1);


      transform: translate3d(0%,0%,0) scale(1);


      $transition-property: transform;
      $transition-duration: 0.3s;
      $transition-timing: ease-out;
      @include apply_transition($transition-property, $transition-duration, $transition-timing);
    }
    svg.svg-icon{

      width: 15px;
      height: 15px;
    }
    .svg-icon{

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0) scale(1);
      -webkit-transform: translate3d(-50%,-50%,0) scale(1);



      $transition-property: transform;
      $transition-duration: 0.3s;
      $transition-timing: ease-out;
      @include apply_transition($transition-property, $transition-duration, $transition-timing);

      path{
        fill: $color;
      }
    }

    &:hover{
      .the-icon-bg{

        transform: translate3d(0%,0%,0) scale(0.9);
        -webkit-transform: translate3d(0%,0%,0) scale(0.9);
      }
      svg.svg-icon{
        transform: translate3d(-50%,-50%,0) scale(1.1);
        -webkit-transform: translate3d(-50%,-50%,0) scale(1.1);
      }
    }



  }

  &.center-it{

  }
}

.zoomsounds-external-scrubbar,.audioplayer{
  width: 100%;



  .scrubbar{


    width: 100%;
    height:10px;
    cursor: pointer;
    position: relative;

    .scrub-bg .wave-separator{
      position: absolute;bottom:0;left:0;
      width: 100%;
      height:1px;
      background: rgba(0,0,0,0.1);
    }


    $transition-property: width;
    $transition-duration: 0.2s;
    $transition-timing: ease-out;
    .scrub-prog{
      position: absolute;top:0;left:0;
      width: 0%;
      height:100%;
      background: $color_highlight;
    }
  }
}

.audioplayer.volume-dragging{

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  -ms-user-select: none;
  user-select: none;
}

.audioplayer.meta-loaded,.audioplayer.structure-setuped{

  .meta-artist-con, .prev-btn, .next-btn{

    opacity: 1;
    visibility: visible;
  }
}


.audioplayer.transitioning-change-media{
  overflow: hidden;
}


.audioplayer.under-400 .meta-artist-con{
  .the-artist{
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}

.audioplayer.fullflashbackup {
  .prev-btn{
    top:auto;
    background-image: url(img/skin_minion_arrowleft.png);
    left:auto;
    bottom: 1px;
    right: 30px;
  }
  .next-btn{
    top:auto;
    background-image: url(img/skin_minion_arrowright.png);
    left:auto;
    bottom: 1px;
    right: 1px;
  }
}


.audioplayer:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.audioplayer.errored-out{
  .audioplayer-inner{
    opacity:0.5;
  }

  .feedback-text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

    font-size: 13px;
    color: #222222;

    background-color: #FFFFFF;

    padding: 5px 10px;

  }
}


#{$classmain} .item-tobe{ position:relative;
}
#{$classmain} .ap-controls{

}
#{$classmain} .ap-controls .con-controls{
  position: absolute;
}
#{$classmain} .ap-controls .con-playpause{
  position: absolute;
  cursor: pointer;
}
#{$classmain} .ap-controls .con-playpause .playbtn{
  position: absolute;
  top:0;
  left:0;
}



.audioplayer.under-400:not(.zoomsounds-wrapper-bg-bellow){
  .controls-volume{
    display: none;
  }
  .comments-holder{
    display: none!important;
  }

  .prev-btn{
    display: none;

  }
  .next-btn{
    display: none;
  }
};






.audioplayer.dzsap-loaded{
  .prev-btn, .next-btn, .btn-menu-state, .btn-embed-code{
    visibility: visible;
  }
}
.audioplayer.skin-default .prev-btn, #{$classmain}.skin-default .next-btn{
  visibility: hidden;
}
/* -- functional styling END */



/* -- estethic styling */



.dzsap-main-con{
    z-index: 5555;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}


.audioplayer{
  font-family: $font_highlight;
}
.audioplayer .audioplayer-inner{
  position: relative;
}
.audioplayer  .the-media{

   pointer-events: none;

  opacity: 0;
}

.dzsap-sticktobottom{

  .audioplayer[data-type="youtube"] {
    .the-media {

      top:auto;
      bottom: 100%;
      left: auto;
      right: 30px;
    }
  }
}

.audioplayer[data-type="youtube"]{
   .the-media{
     position: absolute;
     top: 100%;
     left: 0;
    opacity: 0;

     width: 200px;
     height: 120px;

     pointer-events: auto;

     >iframe{

       width: 200px;
       height: 120px;
     }
    $transition-property:  opacity,visibility;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;

    @include apply_transition($transition-property, $transition-duration, $transition-timing);
  }

  &.is-playing{
    .the-media{
      opacity: 1;
    }
  }
}

 .audioplayer-inner .the-thumb-con{
  position: relative;
}
 .audioplayer-inner .the-thumb{
  position: relative;
  height: 120px;
  width:100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $color_bg;
}
.audioplayer.dzsap-loaded .meta-artist-con{
  visibility: visible;
}
#{$classmain} .meta-artist{
  width: auto;
}

#{$classmain} .ap-controls{
  width: 100%;
  height:40px;
}
#{$classmain} .ap-controls .con-controls{
  width: 100%;
  height: 30px;
  line-height: 100%;
}
#{$classmain} .ap-controls .con-playpause{
  top: 10px;
  left:9px;
  width:10px;
  height:10px;
}
#{$classmain} .ap-controls .con-playpause .playbtn{

  background-position: center center;
  background-repeat: no-repeat;
  width:0px;
  height:0px;

  content: " ";
  border: solid transparent;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: $color_main;
  border-width: 5px;
  border-left-width: 10px;
}


#{$classmain} .ap-controls .con-playpause .pausebtn{
  position:absolute; top:0; left:0;
  height: 11px;
  width: 11px;
}
#{$classmain} .ap-controls .con-playpause .pausebtn .pause-icon{
  width: 100%;
  height: 100%;
  position: absolute;top:0;left:0;
}
#{$classmain} .ap-controls .con-playpause .pausebtn .pause-part-1, #{$classmain} .ap-controls .con-playpause .pausebtn .pause-part-2{
  position: absolute; left:0; top:0;
  width:4px;
  height:100%;

  background: $color_main;
  @include apply_transition($transition-property, $transition-duration, $transition-timing);
}
#{$classmain} .ap-controls .con-playpause .pausebtn .pause-part-2{
  left: auto; right:0;
}

#{$classmain} .ap-controls .the-bg{
  background-color: $color_bg;
}

#{$classmain} .ap-controls .scrubbar .scrub-bg{
  position: absolute;top:0;left:0;
  width: 100%;
  height:100%;
  background: $color_main;
}

$transition-property: opacity,visibility,left;
$transition-duration: 0.1s;
$transition-timing: ease-out;
.audioplayer .ap-controls .scrubbar .scrubBox-hover{
  position: absolute;top:0;left:0;
  width: 1px;
  visibility:hidden;
  opacity:0;
  pointer-events: none;
  height:100%;
  background: $color_highlight;



  $transition-property:  opacity,visibility;
  $transition-duration: 0.3s;
  $transition-timing: ease-out;

  @include apply_transition($transition-property, $transition-duration, $transition-timing);
}
.audioplayer.dzsap-loaded .ap-controls .scrubbar:hover .scrubBox-hover{
  visibility:visible;
  opacity:1;
}




/* audio player skin-default */
@import 'inc/ap_skin_default';
/* END audio player skin-default */


.hidden{
  display: none;
}



/* ==========SKIN-default styling END */



/* ==========SKIN-wave styling */

@import 'inc/ap_skin_wave';


.audioplayer.skinvariation-zoomsounds-wrapper-bg-bellow-center-play.zoomsounds-wrapper-bg-bellow{

  //padding:0;
  //padding-top: 100%!important;
  .audioplayer-inner {
    .con-playpause,.next-btn,.prev-btn{
      position: absolute;


      left: 50%;
      top: -100px;

    }
    .con-playpause{

      margin-left: -30px;

      width: 60px;
      height: 60px;
    }
    .next-btn{
      margin-left: 39px;
      top: -83px;
    }
    .prev-btn{
      margin-left: -66px;
      top: -83px;
    }
  }

  .ap-controls .ap-controls-left .meta-artist-con:not(.ceva){
    text-align: right;
    top: -199px;

    max-height: 50px;
    max-width: 70%;
    right: 0;
    bottom: auto;
    left:auto;
  }

  &.skin-silver{
    .audioplayer-inner{
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      .scrubbar,.ap-controls-right{

        position: absolute;
        top: auto;
      }
      .con-playpause{

        @include centerit();

        margin-top: 0px;
        margin-left:0;
        margin-right:0;

        &, svg{

          width: 30px;
          height: 30px;
        }
      }
      .scrubbar{
        left: 10px;
        width: calc(100% - 20px);
        bottom: 3px;
      }
      .ap-controls-right{
        bottom: 10px;  height: 50px;
        text-align: center;
        width: 100%;
        margin-right:0;

        .meta-artist-con{
          max-width: none;
          width: 100%;
          margin-left:0;
        }

      }
      .ap-controls-left{
        position: absolute;
        @include centerit();

      }
      .next-btn,.prev-btn{
        top: 50%;    margin-top: -12px;
      }
      .the-bg{
        background-color: transparent;
      }
    }

    .ap-controls{
      background-color: transparent;
    }
    .curr-time,.total-time{
      display: none!important;
    }
  }

  .controls-right{
    display: none;
  }

  .dzsap-wrapper-buts{
    mix-blend-mode: exclusion;
  }
}
.skin-wave.skin-wave-mode-normal{
  .ap-controls{
    .con-controls{
      height: auto;
    }
  }
}


.zoomsounds-external-scrubbar.skin-wave,.audioplayer.skin-wave{
  .scrubbar{


    width: 100%;
    height: ($size_scrub + $size_scrub_reflect + 10);
    //height: 350px;
    //height: 1000px;
    cursor: pointer;
    position: relative;

    opacity:0;


    $transition-property:  transform,opacity;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;

    @include apply_transition($transition-property, $transition-duration, $transition-timing);






    .scrub-bg{
      position: absolute;top:0%;left:0;
      width: 100%;
      height: $size_scrub;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-color: transparent;


      canvas.scrub-bg-img{
        width:100%!important;
        image-rendering: crisp-edges;
      }
    }



    .scrub-prog{
      position: absolute;top:0;left:0;
      width: 0;
      height:$size_scrub;
      height: 100%;
      overflow: hidden;
      background-color: transparent;
      direction: ltr;
    }


    .scrub-bg-reflect{
      position: absolute;
      top:$size_scrub;
      left:0;
      width: 100%;
      height: $size_scrub_reflect;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-color: transparent;
      opacity:0.5;
      -webkit-transform: scaleY(-1);
      transform: scaleY(-1);

      img.scrub-bg-img-reflect{
        height:100%;
        width: 100%;
        max-width: none;
        position: relative;

        display: block;
      }
    }


    .scrub-prog-reflect{
      position: absolute;
      top:$size_scrub;
      left:0;
      width: 0;
      height:$size_scrub_reflect;
      overflow: hidden;
      background-color: transparent;
      direction: ltr;

      img.scrub-prog-img-reflect, .scrub-prog-canvas-reflect{

        height:100%;
        width: 100%;
        max-width: none;
        opacity:0.5;
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);

        display: block;
      }
    }


  }
}


.dzs-button{

  border: 1px solid rgba(255,255,255,0.3);


  text-transform: uppercase;
  padding: 8px 15px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  background-color: $color_bg;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 9px;

  font-size: 11px;

  border-radius: 5px;

  font-weight: bold;

  color: #777;

  cursor: pointer;

  $transition-property: background,color;
  $transition-duration: 0.3s;
  $transition-timing: linear;



  @include apply_transition($transition-property, $transition-duration, $transition-timing);
}

.dzs-button:hover{

  background-color: rgba(255,255,255,0.5);
}
.skin-wave.skin-wave-is-spectrum{

  .scrub-bg{
    transform: scaleY(0);
    transform-origin: left bottom;
    $transition-property: transform;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;
    @include apply_transition($transition-property, $transition-duration, $transition-timing);

    >canvas{

      transform-origin: left bottom;
    }
  }

  &.theme-light{
    .scrubbar {
      &:after {

        background: linear-gradient(to right, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.22) 49%,rgba(255,255,255,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      }
    }

  }

  .scrubbar {
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;

      background: linear-gradient(to right, rgba(33,33,33,0.1) 0%,rgba(33,33,33,0.22) 49%,rgba(48,48,48,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }
  &.is-playing{

    .scrub-bg{
      transform: scaleY(1);
    }
  }



}

.audiogallery{
  .btn-menu-state{
    cursor: pointer;
    >svg{
      >path{

        transform: rotate(0deg) translate3d(0,0,0);
        -moz-transform: rotate(0deg) translate3d(0,0,0);
        transform-origin: top left;
        opacity:1;
        $transition-property: transform,opacity;
        $transition-duration: 0.3s;
        $transition-timing: ease-out;
        @include apply_transition($transition-property, $transition-duration, $transition-timing);
      }
    }
  }
}
.audiogallery.menu-opened{
  .btn-menu-state{
    >svg{
      >path:nth-of-type(1){
        transform: rotate(45deg) translate3d(2px,0px,0);
        -moz-transform: rotate(45deg) translate3d(4px,-1px,0);
      }
      >path:nth-of-type(2){

        opacity:0;
      }
      >path:nth-of-type(3){
        transform: rotate(-45deg) translate3d(0px,1px,0);
        -moz-transform: rotate(-45deg) translate3d(-8px,0px,0);
      }
    }
  }
}
html[dir=rtl]{
  .audioplayer.skin-wave{
    .audioplayer-inner {
      .the-thumb-con{
        margin-left: 20px;
        margin-right: 0px;

      }
      .the-thumb-con ~ .ap-controls{
        padding-left:0;
        padding-right: ($thumb_size + 20px);


      }
    }

  }
}

/* skin-wave simple END */

body .audioplayer.skin-wave.scrubbar-loaded, .zoomsounds-external-scrubbar.scrubbar-loaded{
  .ap-controls{
  }
  .scrubbar{
    opacity:1;
  }
  .comments-holder{
    opacity: 1;
    visibility: visible;
  }

  .curr-time,.total-time{

    opacity: 1;
    visibility: visible;
  }
}
.audioplayer.skin-wave.scrubbar-loaded:not(.skin-wave-is-spectrum){
  .scrub-bg{

    transform: scaleY(1);
  }

}
.audioplayer.skin-wave.skin-wave-wave-mode-canvas{
  .ap-controls .scrubbar{
    //opacity:1;
  }
}

.audioplayer.skin-wave.skin-wave-wave-mode-line{
  .ap-controls .scrubbar{
    //opacity:1;
    border: 1px solid rgba(255,255,255,0.9);
  }
}

.audioplayer.skin-wave.alternate-responsive-layout.under-400.skin-wave-mode-normal{
  .audioplayer-inner .the-thumb{
    width: 100%;
  }

  .audioplayer-inner .the-thumb-con{
    position: relative;
    float: none;
    margin: 0 auto;
    text-align: center;
  }

  .audioplayer-inner .ap-controls{
    width: 100%;
    padding-left:0;
  }
}

.audioplayer.skin-wave:not(.skin-wave-mode-small):not(.skin-wave-mode-nocontrols){

  .con-controls{
    display: flex;
    align-items: center;;
    width: 100%;
  }

  .meta-artist-con{
    flex: 1000;
    max-width: none;
  }
  .ap-controls-right{
    float:none;
    flex: 0 0 auto;


    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
  }

  .con-playpause + .ap-controls-right{

    flex: 1000;
  }

  .comments-writer{
    position: absolute;
    left:50%;
    top: 80px;

  }
  .con-controls,.prev-btn, .next-btn{

    $transition-property: margin;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;
    @include apply_transition($transition-property, $transition-duration, $transition-timing);
  }
}
.audioplayer.skin-wave.comments-writer-active:not(.skin-wave-mode-small):not(.skin-wave-mode-alternate){

  .con-controls{
    margin-top: 160px;
  }
  .prev-btn, .next-btn{
    margin-top: 150px;
  }
}

.audioplayer.skin-wave.meta-loaded{

  .total-time{
    opacity: 1;
  }
}



.btn-embed{
  .copy-embed-code-btn{
    position: absolute;
    padding: 10px 13px;
    line-height: 1;
    font-size: 11px;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.8);
    color: #444444;
    right: 10px;
    bottom: 10px;

    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;

    z-index: 1;
  }
}

.audioplayer.skin-wave.skin-wave-mode-normal.under-720{

  .audioplayer-inner{
    .the-thumb-con{
      position: absolute;
      float: none;
    }

    .meta-artist-con{
      max-width: calc(100% - 110px);
    }

    .ap-controls{

      overflow: visible;
    }
  }
}
.audioplayer.has-thumb.skin-wave.skin-wave-mode-normal.under-720:not(.skin-wave-mode-nocontrols){

  .audioplayer-inner{
    .ap-controls{
      padding-left: 150px;

      overflow: visible;
    }
  }
}

.zoomsounds-wrapper-bg-center{
  &.is-playing{
    .audioplayer{

    }
    padding: 100px 15px;
  }
}
.zoomsounds-wrapper-bg-center,.zoomsounds-wrapper-bg-bellow{
  position: relative;



  background-size: cover;
  background-position: center center;

  background-repeat: no-repeat;

  .audioplayer-inner >.zoomsounds-bg{

    position: absolute;
    top:0; left:0;
    width: 100%;height: 100%;


    background-size: cover;
    background-position: center center;

    background-repeat: no-repeat;


    opacity: 0;

    $transition-property: opacity;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;
    @include apply_transition($transition-property, $transition-duration, $transition-timing);

    &.loaded{

      opacity: 1;
    }
  }



   > .audioplayer,.audioplayer-inner{
  }
  padding: 15px 15px;
  $transition-property: padding,opacity;
  $transition-duration: 0.3s;
  $transition-timing: ease-out;
  @include apply_transition($transition-property, $transition-duration, $transition-timing);

  &.fullwidth{
    max-width: none;
  }
}
.zoomsounds-wrapper-bg-bellow{
  max-width: 300px;
  margin: 10px auto;

  background-color: #444444;
  .zoomsounds-bg{

    &:after{
      content:"";
      position: absolute;
      width: 100%;
      height: 70px;

      bottom:0; left:0;

      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    }
  }


  .extra-html{
    display: none;
  }

  padding: 100px 15px 0;
  &.skin-wave-mode-small{
    .ap-controls{
      .ap-controls-left:not(.ceva){
        position: static;
        .meta-artist-con{
          position: absolute;
          width: 100%;
          max-width: none;
          bottom: 100%;
          display: block;
          margin-bottom: 10px;
        }
      }
    }

  }

  .dzsap-wrapper-buts{
    display: block;
  }

}

.dzsap-wrapper-buts{
  position: absolute;
  top:0;
  left:0;
  display: none;

  >.player-but{
    margin-left: 10px;
    margin-top: 10px;
  }
}
.dzsap-wrapper-but{
  background-color: rgba(0,0,0,0.45);
  $size: 35px;
  width: $size;
  height: $size;
  display: inline-block;
  vertical-align: top;



  $transition-property: background;
  $transition-duration: 0.3s;
  $transition-timing: ease-out;
  @include apply_transition($transition-property, $transition-duration, $transition-timing);

  position: relative;
  >.the-icon{
    @include centerit();
    display: block;

    color: #eeeeee;

    svg{
      width: 15px;
      height: 15px;
    }
  }


  path{
    fill: rgba(255,255,255,0.7);
    $transition-property: fill;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;
    @include apply_transition($transition-property, $transition-duration, $transition-timing);
  }

  &.btn-like{

    >.the-icon {
      margin-top: 1px;
    }
  }

  &:not(.dzsap-wrapper-but):hover{
    background-color: rgba(0,0,0,0.7);
    path{
      fill: rgba(255,255,255,0.9);
    }
  }
}

html[dir=rtl] .audioplayer.skin-wave.skin-wave-mode-normal.under-720 {

  .audioplayer-inner {
    .the-thumb-con {
      left:0;
    }

  }
}

.audioplayer.skin-wave.skin-wave-mode-normal.under-500{

  .audioplayer-inner{
    .prev-btn,.next-btn{
      position: absolute;
      left: -60px;
    }

    .next-btn{
      left: -30px;
    }
  }
}
.audioplayer.skin-wave.skin-wave-mode-normal.under-400.has-thumb:not(.skin-wave-mode-nocontrols){

  .audioplayer-inner {
    .ap-controls {
      padding-left: 60px;

    }
  }
}

.audioplayer.skin-wave.under-400{

  .audioplayer-inner {
    .the-thumb-con {

      width: 50px;
      height: 50px;
    }

    .the-thumb{
      width: 100%;
    }

  }

  &.skin-wave-mode-alternate{

    .audioplayer-inner {
      .the-thumb-con {
        top:0;
      }
    }
  }
}




.audioplayer.theme-light{
  .extra-html{

    color: #ffffff;
  }
}
.audioplayer.skin-wave.theme-light{
  .meta-artist .the-name{
    color: #ffffff;

    text-shadow:  0 0 2px rgba(0,0,0,0.3);
    >a{
      color: inherit;
    }
  }
  .volumeicon{
    background-color: #ffffff;
  }
  .volumeicon:before{
    border-right-color: #ffffff;
  }


  &.button-aspect-noir{
    .con-playpause .playbtn .the-icon-bg,  .con-playpause .pausebtn .the-icon-bg,  .player-but .the-icon-bg{
      border-color: #ffffff;
    }
    .player-but{
      color: #ffffff;
    }
    .svg-icon path{
      fill: #ffffff;
    }
  }

}
div.btn-embed-code-con{
  position: relative;

  top: auto;
}

.audioplayer.skin-wave .ap-controls .the-bg{
  background-color: transparent;
  pointer-events: none;
}
$transition-property: transform;
$transition-duration: 0.3s;
$transition-timing: linear;




.audioplayer.skin-wave .ap-controls .scrubbar .scrub-bg .scrub-bg-div{
  height:100%;
  width: 100%;
  background: #aaa;
  position:absolute; top:0; left:0;


}






/* volume controls
*/

.audioplayer.skin-wave .volumeicon{
  background: #4f4949;
}
.audioplayer.skin-wave .volumeicon:before{
  border-right-color: #4f4949;
}



$transition-property: opacity,visibilitytransform;
$transition-duration: 0.3s;
$transition-timing: linear;
.audioplayer.skin-wave .ap-controls .scrubbar .scrub-prog .scrub-prog-img{
  height:100%;
  width: 100%;
  max-width: none;
  @include apply_transition($transition-property, $transition-duration, $transition-timing);
}
.audioplayer.skin-wave .ap-controls .scrubbar .scrub-prog .scrub-prog-div{
  height:100%;
  width: 100%;
  background: $color_highlight_2;
  position:absolute; top:0; left:0;
  opacity: 0.3;
}




.audioplayer.skin-wave .ap-controls .scrubbar .scrubBox-hover{
  height:70%;
  top:15%;
  background: $color_highlight_2;
}













.audioplayer.skin-wave.skin-wave-no-reflect{
  .ap-controls{

    .scrubbar{
      .scrubBox-hover{
        height: 100%;
        top:0;
      }
      .scrub-bg, .scrub-prog{
        height: 100%;
      }
      .scrub-bg-reflect, .scrub-prog-reflect{
        display: none;
      }


    }
  }
  .ap-controls-right{
    padding-right: 15px;
  }

  &.skin-wave-mode-alternate{
    .ap-controls{
      .scrubbar{
        .scrub-bg,.scrub-prog{
          max-height: 100%;

          .scrub-bg-img{
          }
        }
      }
    }
  }
}


.audioplayer.skin-wave.skin-wave-mode-small.scrubbar-tweak-overflow-hidden-on{

  .ap-controls .scrubbar, .scrubbar .scrub-bg-img, .scrubbar .scrub-prog-img{
    overflow: visible;



    //transform-origin: bottom center;

    $transition-property: width, left, opacity,transform;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;

    @include apply_transition($transition-property, $transition-duration, $transition-timing);
  }
}

/* ==========SKIN-wave-mode-small styling END */

@import "inc/ap_skinvariation_wave_bigtitles";



/* ==========SKIN-minimal styling */
@import "inc/ap_skin_minimal";


/* ==========SKIN-minimal styling ENDD */





/* ==========SKIN-minimal styling */

@import "inc/ap_skin_minion";
/* ==========SKIN-minimal styling ENDD */




/* ==========SKIN-justthumbandbutton styling */
@import "inc/ap_skin_justthumbandbutton";

/* -- END SKIN-justthumbandbutton styling */


.audioplayer.is-playing:not(.design-animateplaypause){
  .pausebtn{
    opacity: 1;
    visibility: visible;;
  }
}


/* ==========SKIN-justthumbandbutton styling */
@import "inc/ap_skin_pro";

/* -- END SKIN-justthumbandbutton styling */


.audioplayer.is-playing:not(.design-animateplaypause):not(.button-aspect-noir){

  .con-playpause .pausebtn{
    visibility: visible;
    opacity:1;
  }
  .con-playpause .playbtn{
    visibility: hidden;
    opacity:0;
  }
}





/* -- skin-aria START */

@import "inc/ap_skin_aria";

/* -- END SKIN-aria styling  */


/* -- skin-redlights START */

@import "inc/ap_skin_redlights";

/* -- END SKIN-redlights styling  */




/* -- skin-steel START */
@import "inc/ap_skin_steel";



/* ==========SKIN-steel styling ENDD */




$transition-property: all;
$transition-duration: 0.3s;
$transition-timing: ease-out;

.extra-html{
  margin-top:15px;
  font-size: 12px;
  line-height: 100%;
  opacity: 0;
  visibility: hidden;
  color: #555;
  -webkit-transform: translateY(20px);
  @include apply_transition($transition-property, $transition-duration, $transition-timing);


  >*{

    display: inline-block;
    vertical-align: middle;
  }
  i{
    display: inline-block;
    vertical-align: middle;
  }
  i + .the-number{
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
  }
  .float-left{
    position: relative;
    top: -3px;
  }
  .float-left.thumb-margin{
    padding-left: 150px;
  }
}
.extra-html.active{
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
}

.extra-html:after{
  display: block;
  clear:both;
  content: " ";
}

.audioplayer>.extra-html-in-controls-left{
  display: none;
}
.audioplayer>.extra-html-in-controls-right{
  display: none;
}


.extra-html--left{
  display: inline-block;
  margin-right:5px;
}


.button-grad{
  background-color: #a195cb;
  color: #444343;

  padding: 4px 7px;
  display: inline-block;;

  border-radius: 3px;

  cursor: pointer;
  text-decoration: none;


  $transition-property: color, background;
  $transition-duration: 0.3s;
  $transition-timing: ease-out;

  @include apply_transition($transition-property, $transition-duration, $transition-timing);

  &:hover{

    background-color: #8b6ecb;
    color: #e2e1e1;
  }

  .the-icon{
    margin-right: 5px;

    >svg{
      display: block;
    }
  }
  &.skin-white{
    background-color: #ffffff;

    border: 2px solid #444;
    color: #444444;;
    border-radius: 0;
    text-transform: uppercase;

    font-size: 13px;
  }

  &+.button-grad{
    margin-left: 5px;
  }

}
.button-grad:hover{

  text-decoration: none;
}

@media all and (max-width: 850px) {
  .button-grad{


    display: block;
    float: left;
    clear: left;

    margin-bottom: 5px;
    margin-right: 5px;
  }
  .controls-volume{
    display: none!important;
  }
}


.btn-zoomsounds{
  padding: 7px 10px;
  border-radius: 3px;
  line-height: 1;
  white-space: nowrap;

  margin-right: 5px;
  font-weight: bold;

  color: #222222;
  text-decoration: none;

  font-size: 13px;

  cursor: pointer;

  &:before, > .the-bg{
    content: "";
    position: absolute;
    top:0; left:0; width: 100%; height: 100%;

    background-color: #eaeaea;
    border-radius: 4px;

    transform: scale(1);

    $transition-property: transform;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;

    @include apply_transition($transition-property, $transition-duration, $transition-timing);

  }


  $transition-property: color, background,border;
  $transition-duration: 0.3s;
  $transition-timing: ease-out;

  @include apply_transition($transition-property, $transition-duration, $transition-timing);

  >*{
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }

  >.the-icon{
    margin-right: 6px;

    >svg{
      display: block;

      path, polygon, polyline{
        fill: #444;

        $transition-property: fill;
        $transition-duration: 0.3s;
        $transition-timing: ease-out;

        @include apply_transition($transition-property, $transition-duration, $transition-timing);
      }
    }
  }
  .show-on-active{
    display: none;
  }
}

html[dir=rtl]{
  .extra-html i + .the-number{
    margin-left: 0;
    margin-right: 5px;
  }
  .btn-zoomsounds > .the-icon{
    margin-right: 0; margin-left: 6px;
  }
}

.btn-zoomsounds.btn-itunes{
  color: #ffffff;
  &:before{
    background-color: #4e7596;
  }
}

.btn-zoomsounds:hover{

  &:before{
    transform: scale(.93);
  }
}
.btn-zoomsounds.btn-like:hover, .btn-zoomsounds.btn-like.active{
  .the-icon{
    > svg{
      path{
        fill: $color_highlight;
      }
    }
  }
}

.btn-zoomsounds.btn-like.active{
  color: #aaaaaa;
}

.btn-zoomsounds.active{
  .hide-on-active{
    display: none;
  }
  .show-on-active{
    display: inherit;
  }
}

a.btn-zoomsounds, span.btn-zoomsounds{
  display: inline-block;
  text-decoration: none;
}



@import "inc/ap_skin_silver";




@import "inc/ap_skin_customcontrols";







.position-relative{
  position: relative;
}
.play-button-simple-svg{
  position: absolute;
  top:0;
  left:0;
}


/* ==========SKIN-justthumbandbutton styling ENDD */

/*===========
=================================
===========
======================
Audio Gallery
=================================
*/



.zoomsounds-nav{

  @include apply_transition($transition-property, $transition-duration, $transition-timing);
  opacity: 0;

  width: 100%;
  overflow: hidden;

  .menu-item{
    position: relative;
    //    border-bottom: 1px solid rgba(255,255,255,0.1);
    cursor: pointer;
    padding-right: 90px;




    .button-grad{
      display: none;
    }
    .menu-item-thumb-con {
      width: 25px;
      height: 25px;

      .menu-item-thumb{

        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
      }
    }
  }


  .menu-item:after{
    content: " ";
    clear: both;
    display: block;
  }

  .menu-item:last-child{
    border-bottom-width: 0px;
  }

  .menu-item:last-child:before{
    display: none;
  }






  &.skin-wave{
    .menu-item{

      .the-artist{
        font-size: 15px;
        position: absolute;
        right: 5px; top:14px;
        max-width: 70%;
      }
      .the-name{
        font-size: 13px;
        position: absolute;
        right: 5px; top:37px;
      }

      .menu-item-thumb-con{
        width: 50px;
        height: 50px;
        margin:10px;
        float: left;

        .menu-item-thumb{
          border-radius: 50% 50%;
          box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);

        }
      }

    }





    .menu-item:before{
      content: " ";
      width: 100%;
      height: 1px;
      position: absolute;
      top:100%;

      opacity: 0.2;

      background: -moz-linear-gradient(left, rgba(180,179,177,0) 0%, rgba(180,179,177,1) 20%, rgba(180,179,177,1) 21%, rgba(181,180,177,1) 80%, rgba(181,180,177,1) 81%, rgba(181,180,177,0) 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(180,179,177,0)), color-stop(20%,rgba(180,179,177,1)), color-stop(21%,rgba(180,179,177,1)), color-stop(80%,rgba(181,180,177,1)), color-stop(81%,rgba(181,180,177,1)), color-stop(100%,rgba(181,180,177,0)));
      background: -webkit-linear-gradient(left, rgba(180,179,177,0) 0%,rgba(180,179,177,1) 20%,rgba(180,179,177,1) 21%,rgba(181,180,177,1) 80%,rgba(181,180,177,1) 81%,rgba(181,180,177,0) 100%);
      background: -o-linear-gradient(left, rgba(180,179,177,0) 0%,rgba(180,179,177,1) 20%,rgba(180,179,177,1) 21%,rgba(181,180,177,1) 80%,rgba(181,180,177,1) 81%,rgba(181,180,177,0) 100%);
      background: -ms-linear-gradient(left, rgba(180,179,177,0) 0%,rgba(180,179,177,1) 20%,rgba(180,179,177,1) 21%,rgba(181,180,177,1) 80%,rgba(181,180,177,1) 81%,rgba(181,180,177,0) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 21%, #ffffff 80%, #ffffff 81%, rgba(255, 255, 255, 0) 100%);

    }
  }


  &.skin-wave{


    .menu-item.no-thumb{
      position: relative;
      padding-right: 0;
      text-align: right;

      margin-bottom: 10px;

      span.the-name{
        position: relative;

        top:0;
      }
    }

    .menu-item.no-thumb{
      .the-artist{

        position: static;
        float:left;

      }
    }
  }









  &.skin-default{
    $transition-property: background;
    $transition-duration: .5s;
    $transition-timing: ease-out;
    .menu-item{
      padding: 10px;
      background-color: #444444;
      color :#dddddd;
      @include apply_transition($transition-property, $transition-duration, $transition-timing);
      .menu-item-thumb-con{
        float: left;

        margin-right: 10px;
      }
      .the-artist{
        float: left;
        display: block;
        position: relative;
        top: 2px;
        margin-right: 10px;
      }
      .the-name{
        float: left;
        display: block;
        position: relative;
        top: 2px;
        margin-right: 10px;
        opacity: 0.5;
      }


      .float-right {
        > a {
          display: inline-block;
          vertical-align: top;
          font-size:0;
        }

      }
    }
    .menu-item:nth-child(odd){

      background-color: #3d3d3d;
    }
    .menu-item.active{
      background-color: #222222;
    }
  }









  &.skin-aura{
    .menu-item{
      padding: 10px;
      background-color: transparent;
      color :#222;
      line-height: 1;
      max-width: 100%;
      text-overflow: ellipsis;
      opacity: 0.65;

      display: flex;
      align-items: center;
      align-content: center;

      $transition-property: opacity;
      $transition-duration: .3s;
      $transition-timing: ease-out;
      @include apply_transition($transition-property, $transition-duration, $transition-timing);
      border-bottom: 1px solid rgba(0,0,0,.1);

      .menu-item-number{


        flex: 0 0 auto;

        margin-right: 10px;

        font-style: italic;


      }

      .menu-item-thumb-con{
        flex: 0 0 auto;
        margin-right: 10px;
      }

      .menu-artist-info{
      flex: 100;
        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .menu-item-views {

        position: absolute;
        top:50%;
        right:10px;


        pointer-events: none;

        $transition-property: opacity;
        $transition-duration: .3s;
        $transition-timing: ease-out;
        @include apply_transition($transition-property, $transition-duration, $transition-timing);

        transform: translate3d(0,-50%,0);
      }


      .float-right{

        flex: 0 0 auto;
        text-align: right;
        float: none;
        margin-left: 15px;

        opacity: 0;


        $transition-property: opacity;
        $transition-duration: .3s;
        $transition-timing: ease-out;
        @include apply_transition($transition-property, $transition-duration, $transition-timing);
      }

      .the-artist{

        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin-right: 10px;
        font-weight: bold;
      }
      .the-name{
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        opacity: 0.5;
        font-weight: bold;


        white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }


      .float-right {
        > a {
          display: inline-block;
          vertical-align: top;
          font-size:0;
        }

      }

      &.has-extra-info{
        &:hover{


          .menu-item-views{
            opacity: 0;
          }
          .float-right{
            opacity: 1;
          }
        }
      }
    }
    .menu-item:nth-child(odd){

    }
    .menu-item.active{
      opacity: 1;
    }
    .menu-item:last-child{
      border-bottom: 0;
    }
  }








}

.menu-btn-like{



  $transition-property: background;
  $transition-duration: .3s;
  $transition-timing: ease-out;
  @include apply_transition($transition-property, $transition-duration, $transition-timing);

  &:hover,&.active{
    background-color: #da635d;
  }
}

.btn-zoomsounds-menu{
  border: 1px solid #444444;
  background-color: #444444;
  border-radius: 3px;

  $size: 25px;

  width: $size;
  height: $size;

  margin-left:5px;

  font-size: 11px!important;


  display: inline-block;
  vertical-align: middle;

  position: relative;

  cursor: pointer;

  transform: scale(1) translate3d(0,0,0);

  $transition-property: transform,background;
  $transition-duration: .3s;
  $transition-timing: ease-out;
  @include apply_transition($transition-property, $transition-duration, $transition-timing);

  >i{
    @include centerit();
  }

  &,&:hover{
    text-decoration: none;

    color: #ffffff;;
  }

  &:hover{

    transform: scale(0.95) translate3d(0,0,0);
  }

}

.menu-item-views{
  >*{
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
  margin-left: 5px;
}
$classmain : ".audiogallery";

.audiogallery{
  position:relative;

  $transition-property: height,opacity;
  $transition-duration: .3s;
  $transition-timing: ease-out;


  $transition-property: height;
  $transition-duration: 0.3s;
  $transition-timing: linear;
  .slider-main {
    .slider-clipper{
      width: 100%;
      height: 100%;
      //overflow: hidden;
      @include apply_transition($transition-property, $transition-duration, $transition-timing);

      $transition-property: opacity,visibility;
      $transition-duration: 0.3s;
      $transition-timing: ease-out;
      > .audioplayer{
        opacity:0;

        visibility: hidden;



        @include apply_transition($transition-property, $transition-duration, $transition-timing);
      }
      > .audioplayer.active-from-gallery{
        opacity:1;
        visibility: visible;

      }


      >.audioplayer,.audioplayer-tobe {
        display: none;
      }

      >.audioplayer,.audioplayer-tobe {
        position: absolute;

        top:0;


      }
      >.audioplayer.transitioning-in,>.audioplayer.transitioning-out,>.audioplayer-tobe.transitioning-out,>.audioplayer-tobe.transitioning-in,>.audioplayer.active-from-gallery{
        display: block;
      }


      >.audioplayer.active-from-gallery{
        position: relative;

      }

    }
  }






}


$nav_margin : 5px;

.audiogallery.menu-position-bottom .nav-main{
  margin-top:25px;
}
.audiogallery.menu-position-top .nav-main{
  margin-bottom:25px;
}

.audiogallery.mode-showall{
  .slider-main{
    .slider-clipper{
      >.audioplayer{
        display: block;
        position: relative;
      }
    }
  }

  .skin-justthumbandbutton{
    width: auto;
    display: inline-block!important;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.divimage {
  background-size: cover;
  background-position: center center;
}

.audiogallery.dzsag-loaded{
  .nav-main{
    opacity: 1;
  }
}

.audiogallery-con{
  position: relative;

  .gallery-thumb{
    position: absolute;
    top:0;
    width: $thumb_size;
    height: $thumb_size;
  }
  .gallery-thumb + .audiogallery{
    padding-left: ($thumb_size + 20px);
  }
}
.ag-gallery-thumb{

}

.audiogallery.skin-wave{


}

.button-buy{

  font-size: 12px;
  padding: 4px 7px;

  border-radius: 5px;

  display: inline-block;

  background-color: #a5617f;
  color: #ffffff;
  vertical-align: top;

  cursor: pointer;

  margin-bottom: 5px;
}
a.button-buy{
  text-decoration:none;
  color: #FFFFFF;
  opacity: .9;
}
a.button-buy:hover{
  color: #ffffff;
  opacity: 1;
}



.audiogallery.skin-default{




}

.audiogallery.skin-default.menu-position-bottom .nav-main{
  margin-top:10px;
}
.audiogallery.skin-default.menu-position-top .nav-main{
  margin-bottom:10px;
}

.audioplayer.center-custom-buttons{
   .play-button-con{
     background-color: #222222;
     border-radius: 50%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 60px;
     height: 60px;
     opacity: 0.3;

     >i{
       @include centerit();
       color: #ffffff;
     }
   }
}

.center-ap-inside{
  >.audioplayer,>.audioplayer-song-changer{

    @include centerit();

    &.skin-minimal{
      //display: inline-block;
      //width: auto;

      text-align: center;
    }
  }
}

.wc-dzsap-wrapper{
  .skin-customcontrols{
    z-index: 1;
  }
}
.wc-dzsap-wrapper.go-to-thumboverlay{
  background-color: rgba(200,200,200,0.2);
}




.zoomsounds-comment-wrapper{
  margin-top: 15px;
  margin-bottom: 35px;
  background-color: #dddddd;

  display: flex;
  align-items: center;

  padding:0;

  position: relative;



  .zoomsounds-comment-wrapper--avatar{
    $size: 50px;

    width: $size;
    flex: 0 0 $size;
    height: $size;


  };



  .zoomsounds-comment-wrapper--input-wrap{
    padding: 10px;
    flex: 1000;

    display: flex;

    input{
      border:0;
      border-radius:5px;

      outline: none;
      flex: 1000;
      margin-left: 5px;
      margin-right: 5px;


    }
  }

  .zoomsounds-comment-wrapper--buttons{

    position: absolute;
    right:0;
    bottom:0%;
    opacity: 0;
    visibility: hidden;


    $transition-property: opacity,visibility,bottom;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;
    @include apply_transition($transition-property, $transition-duration, $transition-timing);
  }

  &.active{

    .zoomsounds-comment-wrapper--buttons{
      bottom: -31px;
      opacity: 1;
      visibility: visible;
    }
  }
}


.audiogallery.skin-aura{




}


.audiogallery.mode-showall{
  .nav-main {
    display: none;
  }

  .slider-clipper{
    height: auto!important;
  }

  .number-wrapper{
    float:right;
    width: 40px;
  }
}
.audiogallery.mode-showall.dzsag-loaded{
  .slider-main .slider-clipper > .audioplayer{
    opacity: 1;
    visibility: visible;
  }
}
.audiogallery.mode-showall.skin-redlights{
  .audioplayer{
    margin-bottom: 1px;
  }


  .number-wrapper{
    height: 80px;

    background-color: #d6d6d6;

    position: relative;
    >.the-number{
      position: absolute;

      top:50%; left:50%;

      transform: translate(-50%, -50%);

      color: white;

      font-size: 20px;
      font-family: "Lato",sans-serif;

      font-weight: 900;
      font-style: italic;
    }
  }

  .audioplayer.skin-redlights{
    overflow: hidden;
    width: auto;
  }

  .audioplayer.skin-redlights:nth-child(odd){
    .audioplayer-inner{
      background-color: #d7d7d7;
    }
  }
  .slider-clipper > .number-wrapper:nth-child(even){
    background-color: #CCCCCC;

  }


}

$transition-property: all;
$transition-duration: 0.3s;
$transition-timing: ease-out;


#{$classmain} *[class*=audioplayer] .menu-description{ display: none;
}
#{$classmain} .audioplayer-tobe{
  display: none;
}


#{$classmain} .slider-main{
  position: relative;
}



$transition-property: transform;
$transition-duration: 0.01s;
$transition-timing: linear;
#{$classmain} .nav-main .nav-clipper{
  position: relative;
  //@include apply_transition($transition-property, $transition-duration, $transition-timing);

}
#{$classmain} .nav-main .download-button{
  position: relative;
  float: right;
  margin-top:  10px;
  margin-right:  10px;
}
#{$classmain} .nav-main .download-after-rate{
  opacity: 0.5;
}
#{$classmain} .nav-main .download-after-rate.active{
  opacity: 1;
}



.float-left{
  float:left;
}



.skin-simple{

  background-color: transparent;

  color: #222222;

  float:left;
  margin-right: 12px;
  cursor: pointer;
  border-radius: 0;
  font-size: 18px;
  padding: 2px 2px;


  $transition-property: color;
  $transition-duration: 0.2s;
  $transition-timing: ease-out;

  @include apply_transition($transition-property, $transition-duration, $transition-timing);

  >i{
    display: inline-block;
    font-size: 18px;

    margin-right: 7px;
  }
}
.skin-simple.active, .skin-simple:hover{
  color: #ae1919;
  text-decoration: none;
}

.star-rating-con{
  float:left;
  cursor: pointer;
  margin-left: 15px;
  position: relative;
}


.star-rating-con .star-rating-bg{
  width: 122px;
  height: 24px;
  background-size: cover;
  background-image: url(img/5stars.png);
  background-repeat: no-repeat;
  background-position: center center;
}


.star-rating-con .star-rating-set-clip{
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
  width: 0;
  $transition-property: opacity;
  $transition-duration: 0.2s;
  $transition-timing: ease-out;

  @include apply_transition($transition-property, $transition-duration, $transition-timing);
}



.star-rating-con .star-rating-set-clip .star-rating-prog{
  width: 122px;
  height: 24px;
  background-size: cover;
  background-image: url(img/5stars-overlay.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.star-rating-con .star-rating-prog-clip{
  position: absolute;
  top:0;
  left:0;
  overflow: hidden;
  width: 0;
}



.star-rating-con .star-rating-prog-clip .star-rating-prog{
  width: 122px;
  height: 24px;
  background-size: cover;
  background-image: url(img/5stars-overlay.png);
  background-repeat: no-repeat;
  background-position: center center;
}


.counter-hits{
  float:right;
  margin-right: 15px;
}
.counter-likes{
  float:right;
  margin-right: 15px;
}
.counter-rates{
  float:right;
  margin-right: 15px;
}
.counter-likes .the-number, .counter-hits .the-number, .counter-rates .the-number{
  font-size:13px;
}



.overflow-it{
  overflow: hidden;
}

.float-right{
  float:right;
}

object{
  outline: 0;
}
.clear{
  clear:both;
}


.con-after-playpause+.meta-artist-con{
  margin-left: 15px;
}


.display-inline-block{
  display: inline-block;
  vertical-align: middle;
}


.display-inline-block-inside{
  >*{

    display: inline-block;
    vertical-align: middle;
  }
}

$color_bg: #db4343;
$color_text: #eee;


.file-icon{
  color: $color_text;
  font-size: 15px;
  position: relative;

}
.file-icon > a{
  color: $color_text;
  text-decoration: none;
}
.file-icon:after{
  content: " ";
  display: block;
  clear: both;
}
.file-icon .header-clip{
  opacity: 0.5;
  width: 15px;
  height: 15px;
  float: right;
  display: block;
  position: relative;;
  overflow: hidden;
}
.file-icon .header-triangle{
  position: absolute;
  top: 0px;
  left: 0;


  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 0 7.5px 15.0px;
  border-color: transparent transparent transparent $color_bg;

}
.file-icon .header-bg{
  background: $color_bg;
  overflow: hidden;
  height: 15px;
  display: block;
}
.file-icon .file-icon-inner{
  background: $color_bg;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 12px;
  border-bottom: 3px solid darken($color_bg, 5%);
}



.dzsap-sticktobottom-placeholder{
  height: 0px;


  $transition-property: height;
  $transition-duration: 0.3s;
  $transition-timing: ease-out;

  @include apply_transition($transition-property, $transition-duration, $transition-timing);
}
.dzsap-sticktobottom-placeholder.dzsap-sticktobottom-placeholder-for-skin-silver.active{
  height: 50px;
}
.dzsap-sticktobottom.dzsap-sticktobottom-for-skin-wave{
  height: auto;
}
.dzsap-sticktobottom-placeholder.dzsap-sticktobottom-placeholder-for-skin-wave{
  height: 80px;
}
.dzsap-sticktobottom-placeholder.dzsap-sticktobottom-placeholder-for-skin-wave:not(.active){
  height:0;
}
.dzsap-sticktobottom-placeholder.dzsap-sticktobottom-placeholder-for-skin-wave.active{
  height: 100px;
}

body.is-mobile{
  .dzsap-sticktobottom{

    &.inited{
      opacity: 1;
    }
  }
}
.dzsap-sticktobottom{
  height: 100px;

  display: block;
  position: fixed;
  top: auto; bottom: 0;
  left:0; right:0;

  width: 100%;
  padding: 10px 10px;
  background: #fff;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.25);

  z-index: 5;
  opacity: 0;


  $transition-property: bottom,opacity;
  $transition-duration: 0.3s;
  $transition-timing: ease-out;


  @include apply_transition($transition-property, $transition-duration, $transition-timing);

  &.theme-dark{
    background: #222222;
  }

  .feedback-text{
    display: none;
  }

  .sticktobottom-close-con{
    position: absolute;
    right: 30px;
    bottom: 100%;
    width: 50px;
    height: 40px;
    background-color: #eee;

    opacity: 0;
    visibility: hidden;

    cursor: pointer;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.25);

    border-radius: 7px 7px 0 0;

    $transition-property: opacity,visibility;
    $transition-duration: 0.3s;
    $transition-timing: ease-out;

    @include apply_transition($transition-property, $transition-duration, $transition-timing);

    .svg-icon{
      width: 20px;
      height: 20px;
      @include centerit();


      $transition-property: opacity,visibility;
      $transition-duration: 0.3s;
      $transition-timing: ease-out;

      @include apply_transition($transition-property, $transition-duration, $transition-timing);
    }

    .icon-show{

      opacity: 0;
      visibility: hidden;
    }
  }

}
.dzsap-sticktobottom.audioplayer-loaded{
  opacity: 1;

  .sticktobottom-close-con {
    opacity: 1;
    visibility: visible;
  }
}
.dzsap-sticktobottom.audioplayer-was-loaded{

  .sticktobottom-close-con {
    opacity: 1;
    visibility: visible;


    .icon-hide{

      opacity: 0;
      visibility: hidden;
    }
    .icon-show{

      opacity: 1;
      visibility: visible;
    }
  }
}


.dzsap-sticktobottom.dzsap-sticktobottom-for-skin-silver{

  padding:0;
  height: 50px;
  bottom: -100%;
  background-color: #fafafa;


  .audioplayer{
    margin-top:0!important;
    margin-bottom:0!important;
  }

  .audioplayer.skin-silver:not(.theme-dark) .ap-controls{
    background-color: transparent;
  }
}

.dzsap-sticktobottom.dzsap-sticktobottom-for-skin-wave{

  bottom: -120px;


  > .audioplayer{
    margin-top:0!important;
    margin-bottom:0!important;
  }

  &.dzsap-sticktobottom-for-skin-wave--mode-,&.dzsap-sticktobottom-for-skin-wave--mode-normal{
    bottom: -150px;
  }
}
.dzsap-sticktobottom.dzsap-sticktobottom-for-skin-wave.dzsap-sticktobottom-for-skin-wave--mode-normal.active{
  height: 150px;
}
.dzsap-sticktobottom.dzsap-sticktobottom-for-skin-wave.dzsap-sticktobottom-for-skin-wave--mode-alternate.active{
  height: 130px;
}
.dzsap-sticktobottom.dzsap-sticktobottom-for-skin-wave.skinvariation-wave-grey{
  height: 90px;
  padding:0;

  background-color: #aaaaaa;
}

.dzsap-sticktobottom.dzsap-sticktobottom-for-skin-silver.audioplayer-loaded{

  bottom:0;
}
body *.dzsap-sticktobottom.audioplayer-loaded:not(.enforcer):not(.enforcer2){

  bottom:0;
}

.float-right{
  float:right;

}

.misc-icon-itunes,.misc-icon-soundcloud,.misc-icon-youtube{
  background-image: url(img/icon_itunes.svg);
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-left: 5px;
  background-size: cover;
}

.misc-icon-soundcloud{

  background-image: url(img/icon_soundcloud.svg);
}
.misc-icon-youtube{

  background-image: url(img/icon_youtube.svg);
}

.audioplayer-song-changer{
  .meta-artist{
    display: none;
  }
}





/*

dzs tooltips

arrow-top,
arrow-bottom
 -- align-left
 -- align-center (js)
 -- align-top

arrow-left,
arrow-right
 -- align-top
 -- align-center (js)
 -- align-bottom


custom css3 effects

*see about custom animation

*/

@mixin apply_transition($transition-property, $transition-duration, $transition-timing) {
  transition-property: $transition-property;transition-duration: $transition-duration;transition-timing-function: $transition-timing;-moz-transition-property:$transition-property;-moz-transition-duration: $transition-duration;-moz-transition-timing-function:$transition-timing;-webkit-transition-property:$transition-property;-webkit-transition-duration: $transition-duration;-webkit-transition-timing-function:$transition-timing;-o-transition-property:$transition-property;-o-transition-duration: $transition-duration;-o-transition-timing-function:$transition-timing;-ms-transition-property:$transition-property;
  -ms-transition-duration: $transition-duration;-ms-transition-timing-function:$transition-timing;
}

@mixin boxsizing() {
  -moz-box-sizing:    border-box;   -webkit-box-sizing: border-box;    box-sizing:        border-box;
}




$transition-property: visibility, opacity;
$transition-duration: 0.3s;
$transition-timing: ease-out;


$color_bg: rgba(20,20,20, 0.9);
$color_txt: #eeeeee;
.dzstooltip-con{
  position: relative;
  cursor: pointer;

}

.dzstooltip{
  display: inline-block;
  position: absolute;
  cursor: auto;
  visibility: hidden;
  opacity: 0;
  @include apply_transition($transition-property, $transition-duration, $transition-timing);
  @include boxsizing();

  bottom: 100%;
  left:-5px;

  font-size: 12px;
  line-height: 150%;

  margin-bottom: 10px;

  background-color: $color_bg;
  color: $color_txt;
  padding: 10px 15px;

  width: 600px;



}
.dzstooltip.arrow-from-start{
  left:-10px;
}
.dzstooltip.arrow-from-start.arrow-bottom:before{
  left:10px;
}

$transition-property: all;
$transition-duration: 0.3s;
$transition-timing: ease-out;
.dzstooltip.transition-slidein{
  transform: translate3d(0,-5px,0);
  -webkit-transform: translate3d(0,-5px,0);
  @include apply_transition($transition-property, $transition-duration, $transition-timing);
}
.dzstooltip.width-auto{
  width: auto;
}

.dzstooltip.arrow-bottom:before{
  content: "";
  position: absolute;;
  top: 100%;
  left: 15px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;

  border-top: 7px solid $color_bg;
}

/* - aux padder */
.dzstooltip.arrow-bottom:after{
  content: "";
  position: absolute;;
  top: 100%;
  left: 10px;
  width: 50px;
  height: 10px;

}

/* -- set throught javascript */
.dzstooltip.align-center{

}

.dzstooltip.align-center.arrow-bottom:before{
  left: 50%;
  margin-left: -4px;
}

/* - aux padder */
.dzstooltip.align-center.arrow-bottom:after{
  left: 50%;
  margin-left: -25px;

}



.dzstooltip.align-right{

  left:auto;
  right: -5px;
}


.dzstooltip.align-right.arrow-bottom:before{
  left: auto;
  right: 8px;
  margin-left: 0;
}

/* - aux padder */
.dzstooltip.align-right.arrow-bottom:after{
  left: 100%;
  margin-left: -25px;

}


.dzstooltip.no-arrow:before{
  display: none;
}

.dzstooltip-con:not(.for-click):hover > .dzstooltip, .dzstooltip.active{
  visibility: visible;
  opacity: 1;

  z-index: 53;
  transform: translate3d(0,0px,0);
  -webkit-transform: translate3d(0,0px,0);
}


.dzstooltip.skin-black{
  background: rgba(0, 0, 0, 0.85);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #eeeeee;
  border-radius: 3px;
  font-size: 0.9rem;
  line-height: 1.5rem;
}




/* style-nova START */
ul.style-nova{
  list-style: none;

  margin:0;
  >li{
    display: block;

    margin-bottom: 10px;

    $size: 75px;
    .li-thumb{
      float: none;
      display: inline-block;
      vertical-align: middle;
      width: $size;
      height: $size;

      margin-right: 15px;

      border-radius: 5px;

      background-size: cover;
      background-position: center center;

      position: relative;



    }

    .li-meta{

      display: inline-block;
      vertical-align: middle;
    }

    .track-title{
      font-weight: bold;

      font-size: 14px;

      text-transform: uppercase;

      color: #443f3f;

      display: block;
    }
    .track-by{
      display: block;
      font-weight: 400;

      font-size: 14px;

      font-style: italic;


      opacity:0.7;
    }

    .the-price{
      font-size: 11px;

      margin-top: 5px;
      color: #4B2E73;
    }
  }
  >li:after{
    display: block;
    content: "";
    clear: both;
  }
}
/* style-nove END */


.playbtn-darkround,.pausebtn-darkround{
  width: 50px;
  height: 50px;

  border-radius: 50%;

  background-color: rgba(50,50,50,0.65);

  @include centerit();




  $transition-property: background;
  $transition-duration: 0.3s;
  $transition-timing: ease-out;
  @include apply_transition($transition-property, $transition-duration, $transition-timing);

}



.playbtn-darkround[data-border-radius="5px"],.pausebtn-darkround[data-border-radius="5px"]{
  border-radius:5px;
}
.playbtn-darkround[data-size="30px"],.pausebtn-darkround[data-size="30px"]{
  width: 40px; height: 40px;
}

.dzs-row{

}
.dzs-container{
  max-width: 1170px;
  margin: 0 auto;
}


.dzsap-charts{
  /*
  * Define the widths: play around with these to get a best fit.
  */
  /*
   * Basic styles, good for a large display. Everything fits in
   * one row, no wrapping. All text based cells grow equally.
   */

  .number-col{
    width: 20px;
    text-align: left;
  }

  .track-col{
    width: 70px;
    text-align: left;
  }

  .title-col{

    flex-grow: 4;
    -webkit-flex-grow: 4;

    .the-track{
      font-size: 15px;
      font-weight: bold;

      margin-bottom: 1px;
    }
    .the-artist{
      font-size: 13px;
      opacity: 0.7;
      font-style: italic;
    }
  }

  .stats-col{
    margin-left: auto;
  }

  .table-row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    width: 100%;
    font-size: 15px;
  }
  .wrapper {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-grow: 0;
    -webkit-flex-grow: 0;
  }
  .text-4,
  .text-2,
  .text {
    flex-grow: 1;
    -webkit-flex-grow: 1;
  }

  .text-4{

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20px;
  }
  .text {
    width: 180px;
  }
  .num {
    width: 80px;
    text-align: right;
  }

  .body-row{
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-collapse: collapse;
    padding-top: 8px;
    padding-bottom: 8px;
    .number-col{
      font-weight: bold;
    }

    .stats-col{
      i{
        font-size: 12px;
        display: inline-block;
        margin-right: 3px;
        vertical-align: middle;
        opacity: 0.7;
      }
    }

  }
  .table-row.header {
    border-bottom: 2px solid rgba(0,0,0,.1);
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 0.7;

    font-size: 11px;
  }
  /* Some borders to show the behaviour. Uncomment to see it in action */
  /*
  .text-2, .num-2 {
    border: 1px solid green;
    padding: 2px;
    margin: 2px;
  }

  .text-4, .num-4 {
    border: 1px solid red;
    margin: 2px;
  }
  */

}

.playbtn-darkround:after{
  content: "";


  width: 0;
  height: 0;

  $size: 15px;

  border-top: $size/1.5 solid transparent;
  border-bottom: $size/1.5 solid transparent;

  border-left: $size solid #CCCCCC;

  @include centerit();

  margin-left: 2px;

}

.playbtn-darkround[data-size="30px"]:after{

  $size: 12px;
  border-top: $size/1.5 solid transparent;
  border-bottom: $size/1.5 solid transparent;

  border-left: $size solid #CCCCCC;
}

.pausebtn-darkround[data-size="30px"]:before,.pausebtn-darkround[data-size="30px"]:after{
  transform: scale(0.8) translate3d(-50%,-50%,0);

  margin-top: -2px;
}


.pausebtn-darkround:before,.pausebtn-darkround:after{
  content: "";



  width: 5px;
  height: 20px;

  margin-left: -4px;

  background-color: #CCCCCC;

  @include centerit();

}

.pausebtn-darkround:after{
  margin-left: 5px;
}

.playbtn-darkround:hover, .pausebtn-darkround:hover{

  background-color: rgba(50,50,50,0.5);
}

.position-relative{
  position: relative;
}
.play-button-simple-svg{
  position: absolute;
  top:0;
  left:0;
}

/*
=========
TOOLTIP STYING
END
==========
*/
html body .zoomsounds-add-tocart-btn:not(.a){
  border: 1px solid rgba(255,255,255,0.4);

  color: #fff9f9;

  background-color: transparent;
  cursor: pointer;

  padding: 10px 15px;

  >*{
    display: inline-block;
    vertical-align: middle;
  }

  &:first-child{

    margin-left: 25px;
  }
}


.cus-menu-item .cus-menu-item--thumb{
  display: inline-block;
  vertical-align:middle;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  background-size: cover;
}

.cus-menu-item .cus-menu-item--text{
  display: inline-block;
  vertical-align:middle;
}
.cus-menu-item:after{
  content: ""; clear: both;
}


















  $size: 60px;
  .play-button-con{
    background-color: #222222;

    border-radius: 50%;

    position: absolute;
    top:50%;
    left:50%;

    transform: translate(-50%,-50%);

    width: $size;
    height: $size;

    opacity: .5;

    cursor: pointer;

    &:hover{
      opacity: 0.8;
    }

    $transition-property: opacity,background;
    $transition-duration: 0.3s;
    $transition-timing: ease-in;

    @include apply_transition($transition-property, $transition-duration, $transition-timing);

    .fa{
      position: absolute;
      top:50%;
      left:50%;

      font-size: 22px;

      transform: translate(-50%,-50%);

      color: #eee;


      $transition-property: color;
      $transition-duration: 0.3s;
      $transition-timing: ease-in;

      @include apply_transition($transition-property, $transition-duration, $transition-timing);
    }

    .fa.fa-play{

      margin-left: 3px;
    }
  }



.buy-con{
  margin-top: 25px;

  text-align: center;
}

.divimage{
  background-size: cover;
  background-position: center center;
}