{{register_asset_bundle('backend/assets/AppAsset')}}

{{this.beginPage()}}
<!DOCTYPE html>
<html lang="<?= Yii::$app->language ?>">
    <head>
        <meta charset="<?= Yii::$app->charset ?>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{html.csrfMetaTags|raw}}
        <title>{{html.encode(this.title)}}</title>
        {{this.head()}}
    </head>
    {{void(this.beginBody())}}
    {{content|raw}}
    {{void(this.endBody())}}
</html>
{{this.endPage()}}
