{{use('common/widgets/Alert')}}

{{register_asset_bundle('frontend/assets/ClientPageAsset')}}

{{this.beginPage()}}
<!DOCTYPE html>
<html lang="{{app.language}}">
    <head>
        <meta charset="{{app.charset}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{html.csrfMetaTags|raw}}
        <title>{{this.title|e}}</title>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
        {{this.head()}}

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-99382486-1', 'auto');
            ga('send', 'pageview');

        </script>
    </head>
    <body>
        {{void(this.beginBody())}}

        {{alert_widget()}}
        {{content|raw}}

        {{void(this.endBody())}}
    </body>
</html>
{{this.endPage()}}
