{{use('common/widgets/Alert')}}
{{use('frontend/widgets/ViewMenu')}}
{{use('frontend/widgets/GoogleStats')}}
{{use('frontend/widgets/ChatBlock')}}

{{register_asset_bundle('frontend/assets/AppAsset')}}
{{register_asset_bundle('frontend/assets/FrontendAsset')}}

{{this.beginPage()}}
<!DOCTYPE html>
<html lang="{{app.language}}">
    <head>
        <meta charset="{{app.charset}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{html.csrfMetaTags|raw}}
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Resonance Radio" />
        <meta property="og:description" content="Русское радио в Чикаго – радио Резонанс 1330АМ / онлайн вещает в Чикаго 7 дней в неделю с 1979 года. Радио для всех, кто стремится владеть информацией. Звоните нам 877 370 0770" />
        <meta property="og:image" content="/img/logo_social.jpg" />
        <title>{{this.title|e}}</title>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
        {{this.head()}}

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-99382486-1', 'auto');
            ga('send', 'pageview');

        </script>
    </head>
    <body>
        {{void(this.beginBody())}}

        {{this.render('_header.twig')|raw}}

    <content>
        {{alert_widget()}}
        {{content|raw}}
    </content>

    <footer>
        {{chatBlock_widget({'width':'500','height':'400'})}}
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-footer-menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">&copy; RESONANCE Radio Chicago</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-footer-menu">
                    {{viewMenu_widget({'id_menu':'2'})}}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>    
        {# googleStats_widget() #}
    </footer>

    {{void(this.endBody())}}
</body>
</html>
{{this.endPage()}}
