{{register_asset_bundle('frontend/assets/AppAsset')}}
{{register_asset_bundle('frontend/assets/FrontendAsset')}}

{{this.beginPage()}}
<!DOCTYPE html>
<html lang="{{app.language}}">
    <head>
        <meta charset="{{app.charset}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{html.csrfMetaTags|raw}}
        <title>{{this.title|e}}</title>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
        {{this.head()}}
    </head>
    <body>
        {{void(this.beginBody())}}

        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">

                        <a class="navbar-brand" href="javascript:;"><img src="/img/logo.png"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>

    <content class="radivoice_box">
        {{content|raw}}
    </content>

    {{void(this.endBody())}}
</body>
</html>
{{this.endPage()}}
