{{ use('yii/helpers/HtmlPurifier') }}

{% set title_item = '' %}
{% set adata = '' %}


{% if advarr.data and advarr.data|length > 0 %}
    {% for adv in advarr.data %}

        {% set title_item = t('common', 'Объявление №') ~ adv.content.id %}

        {% for field in adv.fields %}

            {% if field.slug %}
                {% if field.slug == 'title' and field.translate != '' %}
                    {% set title_item = field.translate %}
                {% endif %}
                {% if field.slug|trim == 'content' and field.translate != '' %}
                    {% set adata = field.translate %}
                {% endif %}
                {% if field.slug == 'contact_name' and field.field_value != '' %}
                    {% set userName = field.field_value %}
                {% endif %}
                {% if field.slug == 'contact_email' and field.field_value != '' %}
                    {% set email = field.field_value %}
                {% endif %}
                {% if field.slug == 'contact_phone' and field.field_value != '' %}
                    {% set phone = field.field_value %}
                {% endif %}
                {% if field.slug == 'address' and field.field_value != '' %}
                    {% set address = field.field_value %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% set inborder = 0 %}
        {% set halfbold = 0 %}
        {% set whithfon = 0 %}
        {% set orgtext = 0 %}
        {% set hot = 0 %}

        {% if adv.services and adv.services|length > 0 %}
            {% for service in adv.services %}
                {% if service == 'Объявление в рамке' %}
                    {% set inborder = 1 %}
                {% endif %}
                {% if service == 'Полужирным' %}
                    {% set halfbold = 1 %}
                {% endif %}
                {% if service == 'background' %}
                    {% set whithfon = 1 %}
                {% endif %}
                {% if service == 'Original text' %}
                    {% set orgtext = 1 %}
                {% endif %}
                {% if service == 'hot' %}
                    {% set hot = 1 %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if userName or email or phone or address %}   
            {% set isParam = 1 %}
        {% else %}
            {% set isParam = 0 %}
        {% endif %}

        {% if isParam == 1 and adv.content.imageFile %}
            {{ this.render('fulladv.twig', {
            'adv': adv,
            'userName': userName,
            'email': email,
            'phone': phone,
            'address': address,
            'title_item': title_item,
            'adata': adata,
            'image_item': adv.content.imageFile,
            'inborder': inborder,
            'halfbold': halfbold,
            'whithfon': whithfon,
            'orgtext': orgtext,
            'hot': hot
            })|raw }}
        {% elseif isParam == 1 and adv.content.imageFile  is null %}
            {{ this.render('noimgadv.twig', {
            'adv': adv,
            'userName': userName,
            'email': email,
            'phone': phone,
            'address': address,
            'title_item': title_item,
            'adata': adata,
            'inborder': inborder,
            'halfbold': halfbold,
            'whithfon': whithfon,
            'orgtext': orgtext,
            'hot': hot
            })|raw }}
        {% elseif isParam == 0 and adv.content.imageFile %}
            {{ this.render('noparadv.twig', {
            'adv': adv,
            'title_item': title_item,
            'adata': adata,
            'image_item': adv.content.imageFile,
            'inborder': inborder,
            'halfbold': halfbold,
            'whithfon': whithfon,
            'orgtext': orgtext,
            'hot': hot
            })|raw }}
        {% elseif isParam == 0 and adv.content.imageFile is null %}
            {{ this.render('textadv.twig', {
            'adv': adv,
            'title_item': title_item,
            'adata': adata,
            'inborder': inborder,
            'halfbold': halfbold,
            'whithfon': whithfon,
            'orgtext': orgtext,
            'hot': hot
            })|raw }}
        {% endif %}

        {% set image_item = false %}

    {% endfor %}
{% else %}
    <div class="class-item card-box">
        <a href="javascript:;">
            <h3>{{ t('frontend', 'Категория пуста.') }}</h3>
            <div class="box-label top-data"><i class="fa fa-calendar"> {{ "now"|date("m/d/Y") }} </i>&nbsp; <i class="fa fa-eye"></i> {{ t('frontend', '{count} просмотров', {'count': 0}) }}</div>
        </a>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <p>
                    {{ t('frontend', 'Извините. В этой категории нет объявлений на данный момент.') }}
                </p>
            </div>
        </div>
    </div>
{% endif %}

