{{ use('yii/helpers/HtmlPurifier') }}

<div class="class-item card-box {% if inborder and inborder == 1 %} borderadv {% endif %}{% if whithfon and whithfon == 1 %} whithfonadv {% endif %}">
    <h3>{% if title_item and title_item != '' %}
        <a href="{{ url(['/chastnye-obyavleniya/item?id=' ~ adv.content.id]) }}">{{ title_item|raw ~ '...' }}</a>
        {% else %}
            <a href="{{ url(['/chastnye-obyavleniya/item?id=' ~ adv.content.id]) }}">{{ t('frontend', 'Объявление №') ~ adv.content.id }}</a>
            {% endif %}
            </h3>
            <div class="box-label"><i class="fa fa-calendar"> {{ app.formatter.asDate(adv.content.start_date, 'php:m/d/Y') }} </i> &nbsp;&nbsp;<i class="fa fa-eye">&nbsp;{{ t('frontend', 'просмотров {count}', {'count': adv.content.views}) }}</i></div>
            <div class="row">
                <div class="col-lg-9 col-md-8 col-xs-12">
                    <p class="col-md-8 col-sm-12 {% if halfbold and halfbold == 1 %} halfboldadv {% endif %}">
                        {% if adata %} {{ adata[:0]|raw ~ '...' }} {% endif %}
                        <br/>
                        <a href="{{ url(['/chastnye-obyavleniya/item?id=' ~ adv.content.id]) }}">{{ t('frontend', 'Читать полностью') }}</a>
                    </p>
                    <a href="{{ url(['/chastnye-obyavleniya/item?id=' ~ adv.content.id]) }}"><img src="/uploads/advfiles/{{ image_item }}" class="img-responsive col-md-4 col-sm-12" /></a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-12">
                    <div class="class-featurs">
                        {% if userName %}
                            <p><i class="fa fa-user fa-lg"></i> <span>{{ userName|e }}</span><br></p>
                            {% endif %}
                            {% if  phone %}
                            <p><a href="tel:{{ phone|e }}"><i class="fa fa-phone fa-lg"></i> {{ phone|e }}</a><br></p>
                            {% endif %}
                            {% if email %}
                            <p><a href="mail: {{ email|e }}" target="blank"><i class="fa fa-envelope fa-lg"></i> {{ email|e }}</a><br></p>
                            {% endif %}
                            {% if address %}
                            <p><i class="fa fa-map-marker fa-lg"></i> <span> {{ address|e }}</span><br></p>
                            {% endif %}
                    </div>
                </div>
                {% if hot and hot == 1 %}
                    <img src="/uploads/advartise/hot.png" class="hot_img">
                {% endif %}
            </div>
        </div>


