{{ use('frontend/modules/advertisements/widgets/FilterAdv') }}
{{ use('frontend/widgets/CustomBlock') }}

{{set(this,'title',t('frontend', 'Частные объявления')|e)}}
{{this.registerMetaTag({'name':'keywords', 'content':t('frontend', 'Частные объявления')|e})}}
{{this.registerMetaTag({'name':'description', 'content':t('frontend', 'Частные объявления')|e})}}

<section class="section-one">
    <div class="container">
        <div class="col-sm-12">
            {{CustomBlock_widget({'block_name':'head_advert'})}}

            {{ this.render('_listadv.twig', {'advarr': advarr})|raw }}

            {% if advarr|length > 1 %}
                <div class="text-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% if page > 1 %}
                                <li> {{ html.a('<span aria-hidden="true">&laquo;</span>', Url.to('/chastnye-obyavleniya/1'), {'class':'btn btn-sm'}) }}</li>
                                {% endif %}
                                {% if page > 4 %}
                                    {% set i = page - 4 %}
                                {% else %}
                                    {% set i = 1 %}
                                {% endif %}
                                {% set stepage = i + 5 %}

                            {% if stepage > totalpage %}
                                {% set maxp = totalpage %}
                            {% else %}
                                {% set maxp = stepage %}
                            {% endif %}
                            {% for j in i..maxp %}
                                <li {% if j == page %} class="active" {% endif %}><a href="/chastnye-obyavleniya/{{ j }}">{{ j }}</a></li>
                                {% endfor %}
                                {% if page < totalpage %}
                                <li>{{ html.a('<span aria-hidden="true">&raquo;</span>', Url.to('/chastnye-obyavleniya/' . totalpage), {'class': 'btn btn-sm'}) }}</li>
                                {% endif %}
                        </ul>
                    </nav>
                </div>
            {% endif %}
        </div>
    </div>
</section>

