{{ use('frontend/modules/advertisements/widgets/FilterAdv') }}


{{set(this,'title',t('frontend', 'Частные объявления')|e)}}
{{this.registerMetaTag({'name':'keywords', 'content':t('frontend', 'Частные объявления')|e})}}
{{this.registerMetaTag({'name':'description', 'content':t('frontend', 'Частные объявления')|e})}}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="class-all">
                <div class="row">

                    {% if advarr.prev_id %}
                        {% set prev_id = advarr.prev_id %}
                    {% else  %}
                        {% set prev_id = 0 %}
                    {% endif %}
                    {% if advarr.next_id %}
                        {% set next_id = advarr.next_id %}
                    {% else  %}
                        {% set next_id = 0 %}
                    {% endif %}

                    {% if advarr.data and advarr.data|length > 0 %}

                        {% set adata = '' %}

                        {% for adv in advarr.data %}


                            {% set title_item = t('common', 'Объявление №') ~ adv.content.id %}

                            {% for field in adv.fields %}

                                {% if field.slug %}
                                    {% if field.slug == 'title' and field.translate != '' %}
                                        {% set title_item = field.translate %}
                                    {% endif %}
                                    {% if field.slug|trim == 'content' and field.translate != '' %}
                                        {% set adata = field.translate %}
                                    {% endif %}
                                    {% if field.slug == 'contact_name' and field.field_value != '' %}
                                        {% set userName = field.field_value %}
                                    {% endif %}
                                    {% if field.slug == 'contact_email' and field.field_value != '' %}
                                        {% set email = field.field_value %}
                                    {% endif %}
                                    {% if field.slug == 'contact_phone' and field.field_value != '' %}
                                        {% set phone = field.field_value %}
                                    {% endif %}
                                    {% if field.slug == 'address' and field.field_value != '' %}
                                        {% set address = field.field_value %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% set inborder = 0 %}
                            {% set halfbold = 0 %}
                            {% set whithfon = 0 %}
                            {% set orgtext = 0 %}
                            {% set hot = 0 %}

                            {% if adv.services and adv.services|length > 0 %}
                                {% for service in adv.services %}
                                    {% if service == 'Объявление в рамке' %}
                                        {% set inborder = 1 %}
                                    {% endif %}
                                    {% if service == 'Полужирным' %}
                                        {% set halfbold = 1 %}
                                    {% endif %}
                                    {% if service == 'background' %}
                                        {% set whithfon = 1 %}
                                    {% endif %}
                                    {% if service == 'Original text' %}
                                        {% set orgtext = 1 %}
                                    {% endif %}
                                    {% if service == 'hot' %}
                                        {% set hot = 1 %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% if userName or email or phone or address %}   
                                {% set isParam = 1 %}
                            {% else %}
                                {% set isParam = 0 %}
                            {% endif %}


                            {% if isParam == 1 and adv.content.imageFile %}
                                {{ this.render('item_full.twig', {
            'adv': adv,
            'userName': userName,
            'email': email,
            'phone': phone,
            'address': address,
            'title_item': title_item,
            'adata': adata,
            'image_item': adv.content.imageFile,
            'inborder': inborder,
            'halfbold': halfbold,
            'whithfon': whithfon,
            'orgtext': orgtext,
            'hot': hot,
            'prev_id': prev_id,
            'next_id': next_id
            })|raw }}
                            {% elseif isParam == 1 and adv.content.imageFile is null %}
                                {{ this.render('item_noimg.twig', {
            'adv': adv,
            'userName': userName,
            'email': email,
            'phone': phone,
            'address': address,
            'title_item': title_item,
            'adata': adata,
            'inborder': inborder,
            'halfbold': halfbold,
            'whithfon': whithfon,
            'orgtext': orgtext,
            'hot': hot,
            'prev_id': prev_id,
            'next_id': next_id
            })|raw }}
                            {% elseif isParam == 0 and adv.content.imageFile %}
                                {{ this.render('item_nopar.twig', {
            'adv': adv,
            'title_item': title_item,
            'adata': adata,
            'image_item': adv.content.imageFile,
            'inborder': inborder,
            'halfbold': halfbold,
            'whithfon': whithfon,
            'orgtext': orgtext,
            'hot': hot,
            'prev_id': prev_id,
            'next_id': next_id
            })|raw }}
                            {% elseif isParam == 0 and adv.content.imageFile is null %}
                                {{ this.render('item_text.twig', {
            'adv': adv,
            'title_item': title_item,
            'adata': adata,
            'inborder': inborder,
            'halfbold': halfbold,
            'whithfon': whithfon,
            'orgtext': orgtext,
            'hot': hot,
            'prev_id': prev_id,
            'next_id': next_id
            })|raw }}
                            {% endif %}

                            {% set image_item = false %}

                        {% endfor %}
                    {% else %}
                        <div class="col-sm-12 no-padding">
                            <div class="class-item card-box">{{ t('frontend', 'Извините! Произошла ошибка загрузки данных объявления. Мы исправим это в ближайшее время.') }}</div>
                        </div>
                    {% endif %}
                </div>
                <div class="text-center">
                    <nav aria-label="...">
                        <ul class="pager">
                            {% if advstep.prevAdv[0].id %}
                                <li class="next"><a href="{{ url(['/chastnye-obyavleniya/item?id=' ~ advstep.prevAdv[0].id]) }}">{{ t('frontend', 'Следующее') }} <span aria-hidden="true">&rarr;</span></a></li>
                                {% endif %}
                                {%if advstep.nextAdv[0].id %}
                                <li class="previous"><a href="{{ url.to(['/chastnye-obyavleniya/item?id=' ~ advstep.nextAdv[0].id]) }}"><span aria-hidden="true">&larr;</span> {{ t('frontend', 'Предыдущее') }}</a></li>
                                {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

