{{ use('yii/helpers/HtmlPurifier') }}

<div class="col-sm-12">
    <div class="class-item card-box {% if inborder and inborder == 1 %} borderadv {% endif %}{% if whithfon and whithfon == 1 %} whithfonadv {% endif %}">
        <h3>{% if title_item %}{{ title_item|e }}{% endif %}</h3>
        <div class="box-label mb-10"><i class="fa fa-calendar"> {{ app.formatter.asDate(adv.content.start_date, 'php:m/d/Y') }} </i> &nbsp;&nbsp;<i class="fa fa-eye">&nbsp;{{ t('frontend', 'просмотров {count}', {'count': adv.content.views}) }}</i></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <a href="/uploads/advfiles/{{imageorig_item}}" class="fancybox" data-fancybox-group="gallery" ><img src="/uploads/advfiles/{{ image_item }}" class="img-responsive col-md-4 col-sm-12 no-padding-left" /></a>
                <p class="col-md-8 col-sm-12 {% if halfbold and halfbold == 1 %}halfboldadv{% endif %}">
                    {% if adata %} {{ adata|e }} {% endif %}
                </p>
            </div>
            <div class="col-xs-12 class-action">
                {% if next_id and next_id != 0 %}
                    <a href="item?id={{ next_id }}" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp;{{ t('frontend', 'Предыдущее') }}</a>
                {% endif %}
                {% if prev_id and prev_id != 0 %}
                    <a href="item?id={{ prev_id }}" class="btn btn-default">{{ t('frontend', 'Следующее') }}&nbsp;<i class="fa fa-arrow-right"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
