<?php

use yii\bootstrap\Html,
    backend\widgets\Breadcrumbs;
use frontend\modules\advertisements\widgets\FilterAdv;

$this->title = Yii::t('common', $title);
$this->params['breadcrumbs'][] = ['label' => Yii::$app->params['homepage'], 'url' => '/'];
$this->params['breadcrumbs'][] = ['label' => Yii::t('common', 'Частные объявления'), 'url' => '/chastnye-obyavleniya'];
$this->params['breadcrumbs'][] = ['label' => $this->title];
?>

<div class="row">
    <div class="col-sm-12">
        <?=
        Breadcrumbs::widget([
            'links' => $this->params['breadcrumbs'],
        ]);
        ?>
    </div>
    <div class="col-sm-12">
        <?= FilterAdv::widget() ?>
        <div class="class-all">
            <div class="row">
                <div class="col-sm-12">
                    <?= $this->render('_listadv', ['advarr' => $advarr]) ?>
                </div>
            </div>
        </div>

        <?php if (count($advarr) > 1) : ?>
            <div class="text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <?php if ($page > 1) { ?>
                            <li><?= Html::a('<span aria-hidden="true">&laquo;</span>', '/chastnye-obyavleniya/search/1', ['class' => 'btn btn-sm']) ?></li>
                        <?php } ?>
                        <?php
                        $i = ($page > 4) ? $page - 4 : 1;
                        $stepage = $i + 5;
                        $maxp = ($stepage > $totalpage) ? $totalpage : $stepage;
                        for ($i; $i <= $maxp; $i++) :
                            ?>
                            <li <?php if ($i == $page) echo 'class="active"'; ?>><?= Html::a($i, '/chastnye-obyavleniya/search/' . $i) ?></li>
                        <?php endfor; ?>
                        <?php if ($page < $totalpage) { ?>
                            <li><?= Html::a('<span aria-hidden="true">&raquo;</span>', '/chastnye-obyavleniya/search/' . $totalpage, ['class' => 'btn btn-sm']) ?></li>
                        <?php } ?>
                    </ul>
                </nav>
            </div>
        <?php endif; ?>
    </div>
</div>
