{{ use('yii/helpers/HtmlPurifier') }}

<div class="class-item card-box {% if inborder and inborder == 1 %} borderadv {% endif %}{% if whithfon and whithfon == 1 %} whithfonadv {% endif %}">
    <h3>{% if title_item and title_item != '' %}
        <a href="{{ url(['/chastnye-obyavleniya/item?id=' ~ adv.content.id]) }}">{{ title_item|raw ~ '...' }}</a>
        {% else %}
            <a href="{{ url(['/chastnye-obyavleniya/item?id=' ~ adv.content.id]) }}">{{ t('frontend', 'Объявление №') ~ adv.content.id }}</a>
            {% endif %}
            </h3>
            <div class="box-label"><i class="fa fa-calendar"> {{ app.formatter.asDate(adv.content.start_date, 'php:m/d/Y') }} </i> &nbsp;&nbsp;<i class="fa fa-eye">&nbsp;{{ t('frontend', 'просмотров {count}', {'count': adv.content.views}) }}</i></div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <p class="col-md-8 col-sm-12 {% if halfbold and halfbold == 1 %} halfboldadv {% endif %}">
                        {% if adata %} {{ adata[:70]|raw ~ '...' }} {% endif %}
                        <br/>
                        <a href="{{ url(['/chastnye-obyavleniya/item?id=' ~ adv.content.id]) }}">{{ t('frontend', 'Читать полностью') }}</a>
                    </p>
                </div>
                {% if hot and hot == 1 %}
                    <img src="/uploads/advartise/hot.png" class="hot_img">
                {% endif %}
            </div>
        </div>


