<div class="panel panel-default">
    <div class="panel-heading">
        {{model.name}}
    </div>
    <div class="panel-body">
        <iframe width="100%" height="450" scrolling="no" frameborder="no" src="{{model.sclink}}"></iframe>
    </div>
</div>