<div class="panel panel-default playlists">
    <div class="panel-body">
        <div>
            <a href="/programmy/{{model.id}}"><img src="{{model.thumbnails_medium}}" class="img-responsive"></a>
        </div>
    </div>
    <div class="panel-footer"><a href="/programmy/{{model.id}}">{{model.title}}</a></div>
</div>
