<div class="col-sm-12 col-lg-12 col-xs-12 soundbox no-padding-left" style="margin-bottom: 15px;">
    <span class="file_head">{{model.name}} {{ app.formatter.asDate(model.radio_brodcast_day) ~ ' ' ~ app.formatter.asTime(model.radio_brodcast_time) }}</span>
    <div class="col-sm-10 col-md-11 col-lg-11 no-padding">
        <div class="soundclass audioplayer-tobe" style="width:100%; margin-top:0;" data-videoTitle="Audio Video" data-type="normal" data-source="{{model.fileName}}"></div>
    </div>
    <div class="col-sm-2 col-md-1 col-lg-1 no-padding-right text-center">
        <a class="download-button" style="height: auto; padding: 1.1em 0;" href="{{model.fileName}}" download target="_blank"><i class="glyphicon glyphicon-download-alt"></i></a>
    </div>
</div>