<div class="panel panel-default playlists">
    <div class="panel-body">
        <a data-fancybox href="https://www.youtube.com/watch?v={{model.video_id}}"><img src="{{model.thumbnails_medium}}" class="img-responsive"></a>
    </div>
    <div class="panel-footer"><a href="javascript:;">{{model.title}}</a></div>
</div>