{{ use('yii/widgets/ListView') }}
{{ use('yii/widgets/Pjax') }}
{{ use('frontend/widgets/ProgramsGallery') }}
{{ use('frontend/widgets/ProgramSlider') }}

{% if playlist %}
    {{set(this,'title',playlist.title|e)}}
    {{this.registerMetaTag({'name':'keywords', 'content':playlist.meta_key|e})}}
    {{this.registerMetaTag({'name':'description', 'content':playlist.meta_description|e})}}
{% endif %}

{# app.request.referrer|raw #}

<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<section class="section-second" style="padding-top: 15px;">
    <div class="container">
        {% if video %}
            <div class="col-sm-6 col-lg-6 col-xs-12 no-padding-left">
                {% if video.socialcode == 'fb' %}
                    <!-- Load Facebook SDK for JavaScript -->
                    <div id="fb-root"></div>
                    <!-- Your embedded video player code -->
                    <div class="fb-video videoframe" data-href="https://www.facebook.com/facebook/videos/{{ video.video_id }}}/" data-width="500" data-show-text="false">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/facebook/videos/{{ video.video_id }}/">
                                <a href="https://www.facebook.com/facebook/videos/{{ video.video_id }}/">How to Share With Just Friends</a>
                            </blockquote>
                        </div>
                    </div>
                {% else %}
                    <iframe class="videoframe" src="https://www.youtube.com/embed/{{ video.video_id }}" frameborder="0" allowfullscreen></iframe>
                    {% endif %}
            </div>
        {% endif %}
        <div class="{% if video %}col-sm-6 col-lg-6{% else %}col-sm-12 col-lg-12 no-padding-left {% endif %} col-xs-12 no-padding-right aboutprogram">
            <div class="program-thumb"><img class="img-responsive" src="{{playlist.thumbnails_medium}}" alt="{{ playlist.title }}" /></div>
            <h2 style="margin-top: 0; font-size: 1.3em;">{{ t('frontend',playlist.title) }}</h2>
            {{ playlist.description }}
        </div>
    </div>
</section>

{# ProgramsGallery_widget() #}
{# programSlider_widget() #}
{% if dataProvider %}
    <section class="section-second margin-section">
        <div class="container videolists">
            {{ pjax_begin({'id' : 'videolist','enablePushState':false, 'enableReplaceState':false}) }}
            {{listView_widget({
            'dataProvider': dataProvider,
            'itemView':'_list_video.twig',
            'options': {
                'tag':'div',
                'class':'row',
                'id':'video-list',
            },
            'itemOptions': {
                'tag':'div',
                'class':'col-md-3 col-sm-6',
            },
            'emptyText':'',
            'layout':'{items}\n<div class="col-sm-12 text-center">{pager}</div>',
})|raw}}
            {{ pjax_end() }}
        </div>
    </section>
{% endif %}
{# if dataSoundcloud #}
<!--
    <section class="section-one margin-section">
        <div class="container videolists">
{# pjax_begin({'id' : 'audiolist','enablePushState':false,'enableReplaceState':false}) #}
{#listView_widget({
'dataProvider': dataSoundcloud,
'itemView':'_list_audio.twig',
'options': {
    'tag':'div',
    'class':'row audio-list',
    'id':'audio-list',
},
'itemOptions': {
    'tag':'div',
    'class':'col-lg-4 col-md-6 col-sm-12',
},
'emptyText':'',
'layout':'{items}\n<div class="col-sm-12 text-center">{pager}</div>',
})|raw#}
{# pjax_end() #}
</div>
</section>
-->
{# endif #}
<section class="section-one">
    <div class="container audiocontent">
        <h3 class="archive_audio_title">{{ t('frontend','Архив передач')}}</h3>
        {% if dataAudio %}
            {{ pjax_begin({'id' : 'audiofiles','enablePushState':false,'enableReplaceState':false}) }}
            {{listView_widget({
            'dataProvider': dataAudio,
            'itemView':'_list_audio_files.twig',
            'options': {
                'tag':'div',
                'class':'col-sm-12 col-lg-12 col-xs-12 no-padding',
            },
            'itemOptions': {
                'tag':'div',
                'class':'col-md-12 col-sm12 no-padding',
            },
            'emptyText':'',
            'layout':'{items}\n<div class="col-sm-12 text-center">{pager}</div>',
})|raw}}

            {% set script %}
                var settings2 = {
                disable_volume: "off"
                ,autoplay: "off"
                ,cue: "on"
                ,disable_scrub: "default"
                ,design_skin: "skin-wave"
                ,skinwave_dynamicwaves:"on"
                ,skinwave_enableSpectrum: "off"
                ,settings_backup_type:"full"
                ,settings_useflashplayer:"auto"
                ,skinwave_spectrummultiplier: "2"
                ,skinwave_comments_enable:"off"
                ,skinwave_mode: "small"
                ,skinwave_comments_retrievefromajax:"off"
                ,pcm_data_try_to_generate: "on"
                ,design_color_bg: '9d9b7f,ffffff'
                ,design_wave_color_progress: 'ea8c52,ffffff'
                };
                $(".soundclass").audioplayer(settings2);

            {% endset %}

            {{ this.registerJs(script,4) }}

            {{ pjax_end() }}
        {% endif %}
    </div>
</section>