{% if dataPage %}
    {{set(this,'title',dataPage.meta_title|e)}}
    {{this.registerMetaTag({'name':'keywords', 'content':dataPage.meta_key|e})}}
    {{this.registerMetaTag({'name':'description', 'content':dataPage.meta_description|e})}}
    {{app.shortcodes.parse(dataPage.content)|raw}}
{% endif %}