.no-paddingright {padding-right: 0;}
.no-paddingleft {padding-left: 0;}

.modal-backdrop.in {z-index: 5;}

.dropdown-toggle i{font-size: 24px;}

.main-header .logo {height: 55px;}
.main-header .sidebar-toggle{padding: 17px 15px;}
.generate-success,.generate-error {max-width: 330px;margin: 40px auto 0;position: relative;display: none;}
.close-button {position: absolute;top: 2px;right: 10px;font-size: 16px;cursor: pointer;}
.boxcalendar table thead tr th {
    height: 5.5em;
    background-color: #B7B7B7;
    color: white;
    vertical-align: middle;
    border: 1px solid white;
    text-align: center;
}
.boxcalendar table tbody tr td {
    height: 6.1em;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #b7b7b7;
}
.boxcalendar table tbody tr td .checkbox {
    margin-bottom: 0;
    margin-top: 0;
}
.calendarbydate {

}
.calendarbydate table tr td, .calendarbydate table tr th {
    text-align: center;
    vertical-align: middle;
}
.calendarbydate table tr td a {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px #53534f;
}
.calendarbydate table tr td a:hover {
    color: white;
}
.boxdetalcalendar {

}
.boxdetalcalendar table {
    border-collapse: inherit;
}
.boxdetalcalendar table thead tr td, .boxdetalcalendar table tbody tr td {
    vertical-align: middle;
}
.boxdetalcalendar table thead tr td {
    font-style: initial;
    font-size: 1.2em;
}
.boxdetalcalendar table tbody tr td {
    font-weight: bold;
}

/* Tooltip container */
.tooltipbox {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltipbox .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    background-color: #3c8dbc;
    color: white;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
.tooltipbox .tooltip-top {
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipbox:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.field-advorders-time_period div label {
    display: inline-block;
    margin-right: 15px;
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
}
.field-advorders-time_period div label input {
    top: -2px;
}
.ordermeshs > div {
    padding: 0;
    border: 1px solid #3c8dbc;
    font-size: 1.3em;
    font-weight: 600;
}
.ordermeshs > div > a {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #333;
    background-color: white;
}
.ordermeshs > div > a:hover {
    background-color: #3c8dbc;
    color: white;
}
.sortable li {
    padding: 8px 5px;
    background-color: white;
    border-bottom: 1px solid #3c8dbc;
    cursor: pointer;
}
.sortable li:hover {
    background-color: #3c8dbc;
    color: white;
}
.boxtime {
    background-color: white;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 1px solid #3c8dbc;
}
.boxtime ul {
    min-height: 300px;
}
.boxtime h4 {
    margin: 0 0 10px 0;
    padding: 8px 0;
    background-color: #3c8dbc;
    color: white;
}
.boxtime h4 > a {
    color: white;
}
span.orderone {
    display: inline-block;
    width: 90%;
    text-align: left;
    padding: 0 7px;
    font-weight: normal;
    font-size: 0.9em;
}
span.orderone .remorder {
    display: inline-block;
    text-align: right;
    width: 10%;
}
.roworderscalendar {
    display: block;
    position: relative;
    padding: 10px;
    background-color: white;
    border: 1px solid #3c8dbc;
    margin-top: 10px;
    font-weight: normal;
}
.roworderscalendar li {
    list-style: none;
    padding: 0;
}
.elemadv {
    display: inline-block;
    position: relative;
    min-width: 100%;
    padding: 8px 5px;
    border-bottom: 1px solid #3c8dbc;
    cursor: pointer;
}
.elemadv:hover {
    background-color: #3c8dbc;
    color: white;
}
.ordermeshs > div span.elemadv {
    font-weight: normal;
    font-size: 0.9em;
    text-align: left;
}
.search-btn {
    margin-top: 2.18em;
}
.spacialy .boxtime {
    background-color: #fffff3;
}
.spacialy .boxtime .sortable li {
    background-color: #fffff3;
}
.spacialy .boxtime .sortable li:hover {
    background-color: #3c8dbc;
    color: white;
}
.summary {
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    margin: 10px 0;
    text-align: right;
}
.file-zoom-dialog .modal-body {
    padding: 0;
}