<div class="panel panel-default playlists">
    <div class="panel-body">
        <div>
            <a href="/our-clients/{{model.slug}}" target="_blank"><img src="/frontend/web/uploads/clients_page/{{model.thumb}}" class="img-responsive"></a>
        </div>
    </div>
    <div class="panel-footer"><a href="/our-clients/{{model.slug}}" target="_blank">{{model.title}}</a></div>
</div>
