{{ use('yii/widgets/ListView') }}
{{ use('yii/widgets/Pjax') }}

{{set(this,'title', t('frontend', 'Video channel')|e)}}
{{this.registerMetaTag({'name':'keywords', 'content':t('frontend', 'Video channel')|e})}}
{{this.registerMetaTag({'name':'description', 'content':t('frontend', 'Video channel')|e})}}

<section class="section-second">
    <div class="container">
        <h2>{{t('frontend','Programs')}}</h2>
        {% if dataProvider %}
            {{ pjax_begin({'id' : 'clientslist','enablePushState':false, 'enableReplaceState':false}) }}
            {{listView_widget({
'dataProvider': dataProvider,
'itemView':'_list.twig',
    'options': {
        'tag':'div',
        'class':'row videolists',
        'id':'channel-list',
    },
    'itemOptions': {
        'tag':'div',
        'class':'col-md-3 col-sm-4',
    },
    'emptyText':'',
'layout':'{items}\n<div class="col-sm-12 text-center">{pager}</div>',
})|raw}}
            {{ pjax_end() }}
        {% endif %}
    </div>
</section>
    
{% set script %}
    window.history.pushState({foo: 'bar'}, 'Клиенты', '/our-clients');
{% endset %}
{{ this.registerJs(script,4) }}
