{% if model %}
    {{set(this,'title',model.title|e)}}
    {{this.registerMetaTag({'name':'keywords', 'content':model.keywords|e})}}
    {{this.registerMetaTag({'name':'description', 'content':model.description|e})}}


    {{ model.content|raw }}
    {{ void(this.registerJsFile('uploads/clients_page/'~model.id~'/client.js', {'depends': 'frontend\\assets\\ClientPageAsset'})) }}
    {{ void(this.registerCssFile('uploads/clients_page/'~model.id~'/client.css', {'depends': 'frontend\\assets\\ClientPageAsset'})) }}
{% endif %}

