
<div class="wrapper-adv text-center">
    <div class="flexslider">
        <ul class="slides">
            {% for adv in advs.banners %}
                <li>
                    <div data-banner_id="{{ adv.id }}" onclick="clickCounter({{ adv.id }})">
                        <a href="{{ adv.url }}" target="_blank"><img src="uploads/banners/{{ adv.image }}" alt="{{ adv.url_title }}"></a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>

{% set script %}
    $(window).load(function() {
    $(".flexslider").each(function(){
    $(this).flexslider({
    animation: "slide",
    controlNav: false
    });
    });
    });
{% endset %}

{% set ajaxScript %}
    function clickCounter(banner_id) {
    var action = '/banner/statistics/ajx-click';
    $.ajax({
    method: 'POST',
    dataType: 'text',
    url: action,
    data: {banner_id: banner_id}
    });
    }
{% endset %}

{{ this.registerJs(script,4,'vue-widget') }}

{{ this.registerJs(ajaxScript,3,'vue-widget') }}