{% if banners %}
    <div class="carousel slide" id="topcarousel">
        <ul class="slides">
            {% for banner in banners %}
                <li data-banner_id="{{ banner.id }}" onclick="clickCounter({{ banner.id }})">
                    <a href="{{ banner.url }}" target="_blank"><img src="/uploads/banners/{{ banner.image }}" class="img-responsive" style="min-height: 100%; padding-right: 7px; padding-left: 7px;" alt="{{ banner.name }}"></a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<script type="text/javascript">
    $('document').ready(function () {
        function clickCounter(banner_id) {
            var action = 'ajax-click';
            $.ajax({
                method: 'POST',
                dataType: 'text',
                url: action,
                data: {banner_id: banner_id}
            });
        }

        flexslider = {vars: {}};
        // tiny helper function to add breakpoints
        function getGridSize() {
            return (window.innerWidth < 600) ? 2 :
                    (window.innerWidth < 900) ? 3 : 4;
        }

        $(function () {
            SyntaxHighlighter.all();
        });
        $('#topcarousel').flexslider({
            animation: "slide",
            animationLoop: false,
            controlNav: false,
            itemWidth: 210,
            itemMargin: 2,
            minItems: getGridSize(), // use function to pull in initial value
            maxItems: getGridSize() // use function to pull in initial value
        });
        $('#topcarousel').fadeIn(1000);
        $('#topcarousel').hover(function () {
            $(this).find(".carousel li").fadeIn(10);
        });
        // check grid size on resize event
        $(window).resize(function () {
            var gridSize = getGridSize();
            flexslider.vars.minItems = gridSize;
            flexslider.vars.maxItems = gridSize;
        });
    });
</script>


