{% if model %}
        <div class="slic-slide" id="topcarousel">
            {% for item in model %}
                <div data-banner_id="{{ item.id }}" onclick="clickCounter({{ item.id }}, '{{ app.serverHelper.getRemoteIPAddress() }}')">
                    <a href="{{ item.url }}" target="_blank" style="display: inline-block; width: {{ item.width }}px; height: {{ item.height }}px; border: none; padding: 0; margin: 0;"><img src="uploads/banners/{{ item.image }}" class="img-responsive" style="border: 1px solid white; box-shadow: 0 0 10px white; border-radius: 2px;" alt="{{ item.name }}"></a>
                </div>
            {% endfor %}
        </div>
{% endif %}


{{ void(this.registerCssFile('@web/css/slick.css', {'depends':['frontend\\assets\\AppAsset']})) }}
{{ void(this.registerCssFile('@web/css/slick-theme.css', {'depends':['frontend\\assets\\AppAsset']})) }}
{{ void(this.registerJsFile('@web/js/slick.js', {'depends':['frontend\\assets\\FrontendAsset']})) }}
{% set script %}    
    function clickCounter(banner_id, user_ip) {
    var action = '/banner-statistic';
    $.ajax({
    method: 'POST',
    dataType: 'text',
    url: action,
    data: {banner_id: banner_id, user_ip: user_ip}
    });
    }

    $(document).ready(function() {
    $('#topcarousel').slick({
    dots: false,
    infinite: true,
    speed: 300,
    adaptiveHeight: true,
    autoplay: false,
    slidesToShow: 1,
    slidesToScroll: 1,
    useTransform: true,
    lazyLoad: 'progressive',
    initialSlide: 'rend_slide',
    responsive: [
    {
    breakpoint: 992,
    settings: {
    slidesToShow: 3,
    slidesToScroll: 1,
    }
    },
    {
    breakpoint: 768,
    settings: {
    slidesToShow: 2,
    slidesToScroll: 1
    }
    },
    {
    breakpoint: 480,
    settings: {
    slidesToShow: 1,
    slidesToScroll: 1
    }
    }
    ]
    });

    $('#topcarousel').fadeIn(10);
    });
{% endset %}

{{ void(this.registerJs(script,4)) }}
