<!-- Button trigger modal -->
<button type="button" class="btn btn-radio online-s-button chatmodal" data-toggle="modal" data-target="#chatModal">
    <i class="fa fa-commenting-o fa-2x" aria-hidden="true"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ t('frontend','Обратный чат -> Чат радио "Резонанс"') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe src='https://minnit.chat/RadioResonance?embed&' width='{{ width }}' height='{{ height}}' style='border:none;' allowTransparency='true'></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ t('frontend', 'Закрыть') }}</button>
            </div>
        </div>
    </div>
</div>


