{{use('yii/widgets/ActiveForm')}}
{{ use('yii/widgets/Pjax') }}
{{ use('himiklab/yii2/recaptcha/ReCaptcha') }}

<a href="javascript:void(0);" class="btn btn-lg btn-radio" data-toggle="modal" data-target="#question-modal">{{ t('frontend','Задай вопрос') }}</a>

{# Modal part #}

<div id="question-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ t('frontend','Задай вопрос') }}</h4>
            </div>
            <div class="modal-body" style="padding-bottom: 50px;">
                {{ pjax_begin({'id' : 'user-send','enablePushState':false, 'enableReplaceState':true}) }}
                {% set form = active_form_begin({
                        'id' : 'user-question',
                        'options' : {
                            'data-pjax' : true
                        }
                    })
                %}
                {{ form.field(model,'usename').textInput({'placeholder' :  t("frontend", "Ваше имя"), 'class' : 'form-control' }).label(false) | raw}}
                {{ form.field(model,'email').textInput({'placeholder' :  t("frontend", "Ваше email"), 'class' : 'form-control' }).label(false) | raw}}
                {{ form.field(model,'phone').textInput({'placeholder' :  t("frontend", "Ваш телефон"), 'class' : 'form-control' }).label(false) | raw}}
                {{ form.field(model,'question').textArea({'rows' : 3, 'class' : 'form-control' }).label(false) | raw}}
                {{ re_captcha_widget({'name':'reCaptcha','widgetOptions':{'id':'reCaptcha'},'siteKey':app.params['googlecaptchakey']})|raw}}

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 no-padding">
                    <button class="btn btn-radio s-button">{{ t('frontend', 'Задать вопрос') }}</button>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 no-padding-right">
                    {% if success == false %}
                        <div class="f-message alert alert-danger">
                            {{ t('frontend','Пройдите верификацию.') }}
                            <span class="close-button" onclick="$('.f-message').hide('fast');">&#215;</span>
                        </div>
                    {% else %}
                        <div class="f-message alert alert-success">
                            {{ t('frontend','Сообщение успешно отправлено.') }}
                            <span class="close-button" onclick="$('.f-message').hide('fast');">&#215;</span>
                        </div>
                    {% endif %}
                </div>
                {{ active_form_end() }}
                {{ pjax_end() }}
            </div>
        </div>
    </div>
</div>

{% set ajaxScript %}
    $(document).ready(function(){

    $("#user-send").on("pjax:start", function() {
    $('.s-button').css({
    'padding-left' : '35px',
    'background-image' : 'url(../img/loader.gif)'
    });
    $('.s-button').attr('disabled', true);
    });

    $("#user-send").on("pjax:end", function() {
    grecaptcha.render('reCaptcha',{sitekey : '6LdanCEUAAAAALfVCb35o89rD2YovSsWkpkYkNIT'});
    $('.s-button').css({
    'padding-left' : '12px',
    'background-image' : 'none'
    });
    $('.s-button').attr('disabled', false);

    $('.f-message').show('fast');
    });
    });
{% endset %}

{{ this.registerJs(ajaxScript,3,'vue-widget') }}
