<section class="section-one" style="padding-top: 10px;">
    <div class="container">
        <div class="col-sm-6 col-lg-6 col-xs-12 no-padding-left">
            {% if youtube_code %}
                <iframe class="videoframe" src="https://www.youtube.com/embed/{{ youtube_code }}" frameborder="0" allowfullscreen></iframe>
                {% else %}
                <img src="" alt="noimage" />
            {% endif %}
        </div>
        <div class="col-sm-6 col-lg-6 col-xs-12 no-padding-right aboutprogram">
            {% if current_program %}
                <div class="program-thumb"> <img class="img-responsive" src="{{ current_program.thumbnails_medium }}" alt="{{ current_program.timetable.name }}" /></div>
                <h2 style="margin-top: 0; font-size: 1.3em;">{{ current_program.title }}</h2>
                {{ current_program.description }}
            {% else %}

            {% endif %}
        </div>
    </div>
</section>