<span>{{ t('frontend', 'Посетителей онлайн') }}: 
    {{ active_users }}
    |</span>
<span>{{ t('frontend', 'Посетителей сегодня')}}: 
    {{ today_users }} |</span>
<br>
<span>{{ t('frontend', 'Посетителей за месяц') }}:
    {{ total_sessions }}
    |</span>