{% if news %}
    <h2><small>{{ t('frontend', 'Новости от издания') }}</small><br>«7 дней»</h2>
        {% for item in news %}
            {% if loop.index == 1 or loop.index == 3 %}
            <div class="col-md-6">
            {% endif %}

            <a href="{{ item._links.news.href }}" target="_blank"><div class="media">
                    <h4 class="col-md-12">{{ item.title|e }}</h4>
                    <div class="col-md-3 lastnewsimg">
                        {% if item.images|length > 0 %}
                            <img class="img-responsive" src="{{'http://7days.us/uploads' ~ item.images[0].path}}" alt="...">
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        {% if item.preview|trim is empty %}
                            {{ item.text|striptags|slice(0, 255)|replace({'%nbsp%': " ", '%mdas%': "--"}) ~ '...' }}
                        {% else %}
                            {{ item.preview|striptags|replace({'%nbsp%': " ", '%mdas%': "--"}) ~ '...' }}
                        {% endif %}
                    </div>
                </div></a>
                {% if loop.index == 2 or loop.index == 4 %}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}