{{use('yii/widgets/ActiveForm')}}
{{ use('yii/widgets/Pjax') }}
{{ use('himiklab/yii2/recaptcha/ReCaptcha') }}

<div class="{% if name.name is defined %}onair{% else %}offair{% endif %}">
    {% if name.name is defined %}
        <h2><small>Задать вопрос в Прямом эфире</small><br>"{{ name.name }}"</h2>
        {% else %}
        <h2><small>Задать вопрос</small><br></h2>
        {% endif %}

    {{ pjax_begin({'id' : 'online-send','enablePushState':false, 'enableReplaceState':true}) }}
    {% set form = active_form_begin({
            'id' : 'online-question',
            'options' : {
                'data-pjax' : true
            }
        })
    %}
    {{ form.field(model,'username').textInput({'placeholder' :  t("frontend", "Ваше имя"), 'class' : 'form-control' }).label(false) | raw}}
    {{ form.field(model,'phone').textInput({'placeholder' :  t("frontend", "Ваш телефон"), 'class' : 'form-control' }).label(false) | raw}}
    {{ form.field(model,'question').textArea({'rows' : 3, 'class' : 'form-control' }).label(false) | raw}}
    {{ re_captcha_widget({'name':'reCaptchaOnline','widgetOptions':{'id':'reCaptchaOnline'},'siteKey':app.params['googlecaptchakey']})|raw }}
    {{ html.error(model,'reCaptchaOnline') | raw }}

    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 no-padding">
        <button class="btn btn-radio online-s-button">{{ t('frontend', 'Задать вопрос') }}</button>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 no-padding-right">
        {% if success == false %}
            <div class="online-f-message alert alert-danger">
                {{ t('frontend','Пройдите верификацию.') }}
                <span class="close-button" onclick="$('.online-f-message').hide('fast');">&#215;</span>
            </div>
        {% else %}
            <div class="online-f-message alert alert-success">
                {{ t('frontend','Сообщение успешно отправлено.') }}
                <span class="close-button" onclick="$('.online-f-message').hide('fast');">&#215;</span>
            </div>
        {% endif %}
    </div>

    {{ active_form_end() }}
    {{ pjax_end() }}
</div>

{% set ajaxScript %}
    $(document).ready(function(){

    $("#online-send").on("pjax:start", function() {
    $('.online-s-button').css({
    'padding-left' : '35px',
    'background-image' : 'url(../img/loader.gif)'
    });
    $('.online-s-button').attr('disabled', true);
    });

    $("#online-send").on("pjax:end", function() {
    grecaptcha.render('reCaptchaOnline',{sitekey : '{{app.params['googlecaptchakey']}}'});
    $('.online-s-button').css({
    'padding-left' : '12px',
    'background-image' : 'none'
    });
    $('.online-s-button').attr('disabled', false);

    $('.online-f-message').show('fast');
    });
    });
{% endset %}

{{ this.registerJs(ajaxScript,3) }}
