{{use('yii/widgets/ActiveForm')}}
{{ use('yii/widgets/Pjax') }}
{{ use('himiklab/yii2/recaptcha/ReCaptcha') }}
{{ use('kartik/rating/StarRating') }}


<h2><small>{{ t('frontend','Оставить отзыв или пожелание') }}</small><br></h2>


{{ pjax_begin({'id' : 'opinions-send','enablePushState':false, 'enableReplaceState':true}) }}
{% set form = active_form_begin({
            'id' : 'opinion-form',
            'options' : {
                'data-pjax' : true
            }
        })
%}
{{ form.field(model,'user_name').textInput({'placeholder' :  t("frontend", "Ваше имя"), 'class' : 'form-control' }).label(false) | raw}}
{{ form.field(model,'email').textInput({'placeholder' :  t("frontend", "E-mail"), 'class' : 'form-control' }).label(false) | raw}}
{{ form.field(model,'opinion').textArea({'rows' : 3, 'placeholder' :  t("frontend", "Ваш отзыв или пожелание"), 'class' : 'form-control' }).label(false) | raw}}
{{ starRating_widget({'name':'OpinionsAndWishs[raiting]','pluginOptions':{'size':'xs','showCaption':false,'showClear':false,'step':1} })|raw }}
{{ re_captcha_widget({'name':'OpinionsAndWishs[reCaptchaOpinion]','widgetOptions':{'id':'reCaptchaOpinion'},'siteKey':app.params['googlecaptchakey']})|raw }}
{{ html.error(model,'reCaptchaOnline') | raw }}

<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 no-padding">
    <button class="btn btn-radio online-s-button">{{ t('frontend', 'Отправить') }}</button>
</div>
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 no-padding-right">
    {% if success == false %}
        <div class="online-f-message alert alert-danger">
            {{ t('frontend','Пройдите верификацию.') }}
            <span class="close-button" onclick="$('.online-f-message').hide('fast');">&#215;</span>
        </div>
    {% else %}
        <div class="online-f-message alert alert-success">
            {{ t('frontend','Сообщение успешно отправленно.') }}
            <span class="close-button" onclick="$('.online-f-message').hide('fast');">&#215;</span>
        </div>
    {% endif %}
</div>

{{ active_form_end() }}
{{ pjax_end() }}


{% set ajaxScript %}
    $(document).ready(function(){

    $("#opinions-send").on("pjax:start", function() {
    $('.online-s-button').css({
    'padding-left' : '35px',
    'background-image' : 'url(../img/loader.gif)'
    });
    $('.online-s-button').attr('disabled', true);
    });

    $("#opinions-send").on("pjax:end", function() {
    grecaptcha.render('reCaptchaOpinion',{sitekey : '{{app.params['googlecaptchakey']}}'});
    $('.online-s-button').css({
    'padding-left' : '12px',
    'background-image' : 'none'
    });
    $('.online-s-button').attr('disabled', false);

    $('.online-f-message').show('fast');
    });
    });
{% endset %}

{{ this.registerJs(ajaxScript,3) }}
