{% if arrimages %}
    <section class="section-one">
        <div class="container">
            <!-- div used as a holder for the coverflow -->
            <div id="myDiv"></div>
            <!-- coverflow data -->
            <ul id="coverflowData" style="display: none;">
                <!-- category -->
                <ul data-cat="Category one">
                    {% for item in arrimages %}
                        <ul>
                            <li data-url="link:{% if url == '/' %}{{ item.link }}{% else %}#{% endif %}" data-target="_blank"></li>
                            <li data-thumbnail-path="/uploads/gallery/{{ item.gallery_id ~ '/' ~ item.fileName }}" data-thumbnail-width="380" data-thumbnail-height="280"></li>
                            <li data-thumbnail-text="">
                                <p class="largeLabel">{{ item.title }}</p>
                                <p class="smallLabel">{{ item.description }}</p>
                            </li>
                            <li data-info="">
                                <p class="mediaDescriptionHeader">{{ item.title }}</p>
                                <p class="mediaDescriptionText">{{ item.description }}</p>
                            </li>
                        </ul>
                    {% endfor %}
                </ul>
                <!-- end  -->
            </ul>
        </div>
    </section>
{% endif %}
{% set FWDScript %}
    
    FWDRLS3DUtils.onReady(function(){
    var coverflow = new FWDSimple3DCoverflow({

    //required settings
    coverflowHolderDivId: "myDiv",
    coverflowDataListDivId: "coverflowData",
    displayType: "responsive",
    autoScale: "yes",
    coverflowWidth: 1200,
    coverflowHeight: 338,
    mainFolderPath: "/load",
    skinPath: "skin_white",

    //main settings
    backgroundColor: "#FFFFFF",
    backgroundImagePath: "",
    backgroundRepeat: "repeat-x",
    showDisplay2DAlways: "no",
    coverflowStartPosition: "center",
    coverflowTopology: "dualsided",
    coverflowXRotation: 0,
    coverflowYRotation: 0,
    numberOfThumbnailsToDisplayLeftAndRight: 4,
    infiniteLoop: "yes",
    rightClickContextMenu: "developer",
    useDragAndSwipe: "yes",
    fluidWidthZIndex: 1000,

    //thumbnails settings
    thumbnailWidth: 400,
    thumbnailHeight: 266,
    thumbnailXOffset3D: 120,
    thumbnailXSpace3D: 80,
    thumbnailZOffset3D: 400,
    thumbnailZSpace3D: 0,
    thumbnailYAngle3D: 70,
    thumbnailXOffset2D: 20,
    thumbnailXSpace2D: 30,
    thumbnailHoverOffset: 100,
    thumbnailBorderSize: 0,
    thumbnailBackgroundColor: "#999999",
    thumbnailBorderColor1: "#FFFFFF",
    thumbnailBorderColor2: "#FFFFFF",
    transparentImages: "no",
    thumbnailsAlignment: "bottom",
    maxNumberOfThumbnailsOnMobile: 13,
    showThumbnailsGradient: "yes",
    thumbnailGradientDirection: "left",
    thumbnailGradientColor1: "rgba(255, 255, 255, 0)",
    thumbnailGradientColor2: "rgba(255, 255, 255, 1)",
    showText: "yes",
    textOffset: 10,
    showThumbnailBoxShadow: "yes",
    thumbnailBoxShadowCss: "0px 2px 2px #BBBBBB",
    showTooltip: "yes",
    dynamicTooltip: "no",
    showReflection: "yes",
    reflectionHeight: 60,
    reflectionDistance: 0,
    reflectionOpacity: .2,

    //controls settings
    slideshowDelay: 5000,
    autoplay: "no",
    disableNextAndPrevButtonsOnMobile: "yes",
    controlsMaxWidth: 650,
    controlsPosition: "bottom",
    controlsOffset: 10,
    showLargeNextAndPrevCoverflowButtons: "no",
    largeNextAndPrevButtonsOffest: 20,
    showNextAndPrevCoverflowButtons: "no",
    showSlideshowButton: "no",
    showScrollbar: "no",
    showBulletsNavigation: "no",
    bulletsNormalColor: "#999999",
    bulletsSelectedColor: "#000000",
    bulletsNormalRadius: 5,
    bulletsSelectedRadius: 8,
    spaceBetweenBullets: 10,
    bulletsOffset: 18,
    disableScrollbarOnMobile: "yes",
    enableMouseWheelScroll: "yes",
    scrollbarHandlerWidth: 200,
    scrollbarTextColorNormal: "#000000",
    scrollbarTextColorSelected: "#FFFFFF",
    addKeyboardSupport: "yes",

    //categories settings
    showCategoriesMenu: "no",
    startAtCategory: 1,
    categoriesMenuMaxWidth: 700,
    categoriesMenuOffset: 25,
    categoryColorNormal: "#999999",
    categoryColorSelected: "#000000",

    //lightbox settings
    buttonsAlignment: "in",
    itemBoxShadow: "none",
    descriptionWindowAnimationType: "opacity",
    descriptionWindowPosition: "bottom",
    slideShowAutoPlay: "no",
    addKeyboardSupport: "yes",
    showCloseButton: "yes",
    showShareButton: "yes",
    showZoomButton: "yes",
    showSlideShowButton: "yes",
    showSlideShowAnimation: "yes",
    showNextAndPrevButtons: "yes",
    showNextAndPrevButtonsOnMobile: "yes",
    showDescriptionButton: "yes",
    showDescriptionByDefault: "no",
    videoShowFullScreenButton: "yes",
    videoAutoPlay: "yes",
    nextVideoOrAudioAutoPlay: "yes",
    videoLoop: "no",
    audioAutoPlay: "no",
    audioLoop: "no",
    backgroundOpacity: .9,
    descriptionWindowBackgroundOpacity: .95,
    buttonsHideDelay: 3,
    slideShowDelay: 4,
    defaultItemWidth: 640,
    defaultItemHeight: 480,
    itemOffsetHeight: 50,
    spaceBetweenButtons: 1,
    buttonsOffsetIn: 2,
    buttonsOffsetOut: 5,
    itemBorderSize: 0,
    itemBorderRadius: 0,
    itemBackgroundColor: "#333333",
    itemBorderColor: "#333333",
    lightBoxBackgroundColor: "#000000",
    descriptionWindowBackgroundColor: "#FFFFFF",
    videoPosterBackgroundColor: "#0099FF",
    videoControllerBackgroundColor: "#FFFFFF",
    audioControllerBackgroundColor: "#FFFFFF",
    timeColor: "#000000"

    });
    });
{% endset %}

{{ this.registerJs(FWDScript,3) }}
