{% if link %}
    <div class="media-wrapper">
        <div id="apsimple" class="audioplayer-tobe" style="width:100%; margin-top:0;" data-videoTitle="Audio Video" data-type="normal" data-source="{{link}}"></div>
    </div>
{% endif %}

{% set script %}   
    $(document).ready(function () {
    var settings2 = {
    disable_volume: "off"
    ,autoplay: "on"
    ,cue: "on"
    ,disable_scrub: "off"
    ,design_skin: "skin-wave"
    ,skinwave_dynamicwaves:"on"
    ,skinwave_enableSpectrum: "off"
    ,settings_backup_type:"full"
    ,settings_useflashplayer:"auto"
    ,skinwave_spectrummultiplier: "4"
    ,skinwave_comments_enable:"off"
    ,skinwave_mode: "small"
    ,skinwave_comments_retrievefromajax:"off"
    ,pcm_data_try_to_generate: "on"
    ,design_color_bg: '0277bd,ffffff'
    ,design_wave_color_progress: 'd9534f,ffffff'
    };
    $("#apsimple").audioplayer(settings2);
    });

{% endset %}

{{ this.registerJs(script,3) }}