{% if models %}
    <section class="section-second">
        <div class="container">
            <h2>{{t('frontend','Today on air')}}</h2>
            <small>{{t('frontend','Specified Chicago Time')}}</small>
            <div class="flexslider">
                <!--<a class="prev disabled" data-prev=""></a>-->
                <ul class="slides">
                    {% for model in models %}
                        <li>
                            <div class="wrap">
                                <figure>
                                    <a href="/programmy/{{model.youtube_playlists_id}}">
                                        {% if model.thumbnails_medium is iterable %}
                                            <img src="{{model.thumbnails_medium.0}}" />
                                        {% elseif model.thumbnails_medium is not iterable %}
                                            <img src="{{ model.thumbnails_medium }}" />
                                        {% endif %}
                                    </a>
                                    <h4>{{model.name}}</h4>
                                    <p>

                                        <b>{{t('frontend','Broadcast') ~ ' ' ~ model.from_time|date("H:i") ~ '-' ~model.to_time|date("H:i")}}</b><br/>
                                        {% if model.tags and model.tags|length > 0 %}<span class="redonair">{{ model.tags }}</span>{% endif %}
                                        <!--
                                        {# if model.onair #}<br /><span class="redonair">({# t('frontend','Прямой эфир') #})</span>{# endif #}
                                        -->
                                    </p>
                                </figure>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <!--<a class="next" data-next="" style="display: inline;"></a>-->
            </div>
        </div>
    </section>
{% endif %}