<ul class="nav navbar-nav menulist">
    {% for menu in menulist %} 
        <li class=""><a href="{{menu.alias}}" {% if menu.params %}{{menu.params}}{% endif %}>{{menu.name|e}}</a></li>
        {% endfor %}
</ul>
{% set script %}
    $(document).ready(function(){
    var locurl = window.location.pathname;
    $('.menulist li').removeClass('active');
    $('.menulist li').each(function(item){
    var linkurl = $(this).find('a').attr('href');
    if(linkurl === locurl) {
    $(this).addClass('active');
    }
    if(locurl === '/' && linkurl === '//') {
    $(this).addClass('active');
    }
    });
    });
{% endset %}

{{ this.registerJs(script,5,'vue-widget') }}