{{ use('yii/widgets/ActiveForm') }}


{% if result and totlal_result > 0 %}
    <h2><small>Ваше Мнение</small><br>{{ question.name }}</h2>

    <p>{{ t('frontend', 'Вы проголосовали. Спасибо за участие в этом опросе!') }}</p>

    {% for answer in question.answers  %}
        {% set votes = (answer.votes|length/totlal_result)*100 %}
        <p>{{ answer.name }} ({{ t('frontend','Голосов') }}: {{ votes|round }} %)</p>
    {% endfor %}
{% else %}
    {% if question and question.answers is defined %}
        <h2><small>Ваше Мнение</small><br>{{ question.name }}</h2>

        {% set form = active_form_begin() %}

        {{ form.field(model, 'answerId').radioList(answers, {'class' : 'radio'}).label(false) | raw}}

        {{ form.field(model,'questionId').hiddenInput({'value' : question.id}).label(false) | raw}}

        {{ form.field(model,'site_id').hiddenInput({'value' : question.site_id}).label(false) | raw}}

        <button class="btn btn-radio">{{ t('frontend','Голосовать') }}</button>

        {{ active_form_end() }}

    {% endif %}
{% endif %}
