{# empty Twig template #}
<div class="col-sm-12 no-padding reclamtimetable">
    <div class="col-sm-3 col-lg-2" style="border-right: 1px solid #9d9b7f;">{{model.name|e}}</div>
    <div class="col-sm-2 col-lg-2 text-center" style="border-right: 1px solid #9d9b7f;">{{model.action_date|date('m/d/Y H:i', "Iceland")}}</div>
    <div class="col-sm-3 col-lg-3" style="border-right: 1px solid #9d9b7f;">{{model.description|e}}</div>
    <div class="col-sm-4 col-lg-5">{{model.note|raw}}</div>
</div>
