<td class="soundbox" width="30%">
    <div class="soundclass audioplayer-tobe" style="width:100%; margin-top:0;" data-videoTitle="Audio Video" data-type="normal" data-source="{{model.fileName}}"></div>
</td>
<td width="5%" class="text-center"><a class="download-button" href="{{model.fileName}}" download target="_blank"><i class="glyphicon glyphicon-download-alt"></i></a></td>
<td width="45%">{{model.name}} {% if model.timetableTags.archive_name and model.timetableTags.archive_name|length > 0 %}<span class="onairttb" style="color:#9d9d9d; font-size: 0.9em; font-weight: 500;">{{ model.timetableTags.archive_name }}<span> {% endif %}</td>
            <td width="20%"><span class="datetime">{{ app.formatter.asDate(model.radio_brodcast_day) ~ ' ' ~ app.formatter.asTime(model.radio_brodcast_time) }}</span></td>

