
{{ set(this, 'title', 'About') }}
{{ set(this, 'params', { 'breadcrumbs' : { '' : this.title } }) }}
<div class="site-about">
    <h1>{{ this.title) }}</h1>

    <p>This is the About page. You may modify the following file to customize its content:</p>

    <code></code>
</div>
