{{ use('yii/widgets/ListView') }}
{{ use('yii/widgets/Pjax') }}

{{set(this,'title', t('frontend','Архив эфира радиопередач'))}}
{{this.registerMetaTag({'name':'keywords', 'content':t('frontend','Архив, эфир, радиопередача')})}}
{{this.registerMetaTag({'name':'description', 'content':t('frontend','Архив эфира радиопередач')})}}

<div class="container">
    <h2>{{t('frontend','Radio Archive')}}</h2>
    {{ pjax_begin({'id' : 'archiveradio','enablePushState':false, 'timeout':10000}) }}
    {{this.render('_search', {'model': searchModel, 'playlists': playlists})|raw}}

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 table-header border_right_head">
        {{t('frontend','Sound')}}
    </div>
    <div class="col-lg-5 col-md-5 col-sm-3 col-xs-12 table-header border_right_head">{{t('frontend','Name')}}</div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 table-header">{{t('frontend','Date and time')}}</div>
    {% if dataProvider %}


        {{listView_widget({
'dataProvider': dataProvider,
'itemView':'_list_archive.twig',
    'options': {
        'tag':'table',
        'class':'table table-border archivelists',
        'id':'archive-list',
    },
    'itemOptions': {
        'tag':'tr',
        'class':'',
    },
    'emptyText':'',
'layout':'{items}\n<div class="col-sm-12 text-center">{pager}</div>',
})|raw}}

        {% set script %}   

            var settings2 = {
            disable_volume: "off"
            ,autoplay: "off"
            ,cue: "on"
            ,disable_scrub: "default"
            ,design_skin: "skin-wave"
            ,skinwave_dynamicwaves:"on"
            ,skinwave_enableSpectrum: "off"
            ,settings_backup_type:"full"
            ,settings_useflashplayer:"auto"
            ,skinwave_spectrummultiplier: "2"
            ,skinwave_comments_enable:"off"
            ,skinwave_mode: "small"
            ,skinwave_comments_retrievefromajax:"off"
            ,pcm_data_try_to_generate: "on"
            ,design_color_bg: '9d9b7f,ffffff'
            ,design_wave_color_progress: 'ea8c52,ffffff'
            };
            $(".soundclass").audioplayer(settings2);

        {% endset %}

        {{ this.registerJs(script,4) }}

    {% endif %}
    {{ pjax_end() }}
</div>

