{{set(this,'title', title|e)}}
{{this.registerMetaTag({'name':'keywords', 'content':keywords|e})}}
{{this.registerMetaTag({'name':'description', 'content':metadesc|e})}}
<div class="container">
    <h2>{{t('frontend','Broadcasting grid')}}</h2>
    <small>{{t('frontend','Specified Chicago Time')}}</small>
    <div class="table-responsive">
        {% if models %}
            {% if models.mo %}
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-warning">
                            <th colspan="2" class="tg-031e text-center">{{t('frontend','Monday')}}</th>
                        </tr>
                        <tr>
                            <th class="tg-031e text-center" width="15%">{{t('frontend','Time of broadcast')}}</th>
                            <th class="tg-031e text-center">{{t('frontend','Program')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tbl in models.mo %}
                            <tr {% if dayofweek == 1 and tbl.from_time <= currenttime and tbl.to_time >= currenttime %} class="active" {% endif %}>
                                <td class="tg-031e text-center" width="15%">{{tbl.from_time|date('H:i')}} &mdash; {{tbl.to_time|date('H:i')}}</td>
                                <td class="tg-031e"><a href="/programmy/{{tbl.youtube_playlists_id}}">{{tbl.name}}</a>{% if tbl.tags %}<span class="onairttb" style="{% if tbl.tags != 'Радиоэфир - Live' %}color: #5e5e5e;{% endif %}">{{ tbl.tags }}</span>{% endif %}<!--{# if tbl.onair #}<span class="onairttb">{# t('frontend','Прямой эфир') #}</span>{# endif #}--></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if models.tu %}
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-warning">
                            <th colspan="2" class="tg-031e text-center">{{t('frontend','Tuesday')}}</th>
                        </tr>
                        <tr>
                            <th class="tg-031e text-center" width="15%">{{t('frontend','Time of broadcast')}}</th>
                            <th class="tg-031e text-center">{{t('frontend','Program')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tbl in models.tu %}
                            <tr {% if dayofweek == 2 and tbl.from_time <= currenttime and tbl.to_time >= currenttime %} class="active" {% endif %}>
                                <td class="tg-031e text-center" width="15%">{{tbl.from_time|date('H:i')}} &mdash; {{tbl.to_time|date('H:i')}}</td>
                                <td class="tg-031e"><a href="/programmy/{{tbl.youtube_playlists_id}}">{{tbl.name}}</a>{% if tbl.tags %}<span class="onairttb" style="{% if tbl.tags != 'Радиоэфир - Live' %}color: #5e5e5e;{% endif %}">{{ tbl.tags }}</span>{% endif %}<!--{# if tbl.onair #}<span class="onairttb">{# t('frontend','Прямой эфир') #}</span>{# endif #}--></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if models.we %}
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-warning">
                            <th colspan="2" class="tg-031e text-center">{{t('frontend','Wednesday')}}</th>
                        </tr>
                        <tr>
                            <th class="tg-031e text-center" width="15%">{{t('frontend','Time of broadcast')}}</th>
                            <th class="tg-031e text-center">{{t('frontend','Program')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tbl in models.we %}
                            <tr {% if dayofweek == 3 and tbl.from_time <= currenttime and tbl.to_time >= currenttime %} class="active" {% endif %}>
                                <td class="tg-031e text-center" width="15%">{{tbl.from_time|date('H:i')}} &mdash; {{tbl.to_time|date('H:i')}}</td>
                                <td class="tg-031e"><a href="/programmy/{{tbl.youtube_playlists_id}}">{{tbl.name}}</a>{% if tbl.tags %}<span class="onairttb" style="{% if tbl.tags != 'Радиоэфир - Live' %}color: #5e5e5e;{% endif %}">{{ tbl.tags }}</span>{% endif %}<!--{# if tbl.onair #}<span class="onairttb">{# t('frontend','Прямой эфир') #}</span>{# endif #}--></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if models.th %}
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-warning">
                            <th colspan="2" class="tg-031e text-center">{{t('frontend','Thursday')}}</th>
                        </tr>
                        <tr {% if dayofweek == 4 and tbl.from_time <= currenttime and tbl.to_time >= currenttime %} class="active" {% endif %}>
                            <th class="tg-031e text-center" width="15%">{{t('frontend','Time of broadcast')}}</th>
                            <th class="tg-031e text-center">{{t('frontend','Program')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tbl in models.th %}
                            <tr>
                                <td class="tg-031e text-center" width="15%">{{tbl.from_time|date('H:i')}} &mdash; {{tbl.to_time|date('H:i')}}</td>
                                <td class="tg-031e"><a href="/programmy/{{tbl.youtube_playlists_id}}">{{tbl.name}}</a>{% if tbl.tags %}<span class="onairttb" style="{% if tbl.tags != 'Радиоэфир - Live' %}color: #5e5e5e;{% endif %}">{{ tbl.tags }}</span>{% endif %}<!--{# if tbl.onair #}<span class="onairttb">{# t('frontend','Прямой эфир') #}</span>{# endif #}--></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if models.fr %}
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-warning">
                            <th colspan="2" class="tg-031e text-center">{{t('frontend','Friday')}}</th>
                        </tr>
                        <tr {% if dayofweek == 5 and tbl.from_time <= currenttime and tbl.to_time >= currenttime %} class="active" {% endif %}>
                            <th class="tg-031e text-center" width="15%">{{t('frontend','Time of broadcast')}}</th>
                            <th class="tg-031e text-center">{{t('frontend','Program')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tbl in models.fr %}
                            <tr>
                                <td class="tg-031e text-center" width="15%">{{tbl.from_time|date('H:i')}} &mdash; {{tbl.to_time|date('H:i')}}</td>
                                <td class="tg-031e"><a href="/programmy/{{tbl.youtube_playlists_id}}">{{tbl.name}}</a>{% if tbl.tags %}<span class="onairttb" style="{% if tbl.tags != 'Радиоэфир - Live' %}color: #5e5e5e;{% endif %}">{{ tbl.tags }}</span>{% endif %}<!--{# if tbl.onair #}<span class="onairttb">{# t('frontend','Прямой эфир') #}</span>{# endif #}--></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if models.sa %}
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-warning">
                            <th colspan="2" class="tg-031e text-center">{{t('frontend','Saturday')}}</th>
                        </tr>
                        <tr {% if dayofweek == 6 and tbl.from_time <= currenttime and tbl.to_time >= currenttime %} class="active" {% endif %}>
                            <th class="tg-031e text-center" width="15%">{{t('frontend','Time of broadcast')}}</th>
                            <th class="tg-031e text-center">{{t('frontend','Program')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tbl in models.sa %}
                            <tr>
                                <td class="tg-031e text-center" width="15%">{{tbl.from_time|date('H:i')}} &mdash; {{tbl.to_time|date('H:i')}}</td>
                                <td class="tg-031e"><a href="/programmy/{{tbl.youtube_playlists_id}}">{{tbl.name}}</a>{% if tbl.tags %}<span class="onairttb" style="{% if tbl.tags != 'Радиоэфир - Live' %}color: #5e5e5e;{% endif %}">{{ tbl.tags }}</span>{% endif %}<!--{# if tbl.onair #}<span class="onairttb">{# t('frontend','Прямой эфир') #}</span>{# endif #}--></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if models.su %}
                <table class="table table-bordered">
                    <thead>
                        <tr class="text-warning">
                            <th colspan="2" class="tg-031e text-center">{{t('frontend','Sunday')}}</th>
                        </tr>
                        <tr>
                            <th class="tg-031e text-center" width="15%">{{t('frontend','Time of broadcast')}}</th>
                            <th class="tg-031e text-center">{{t('frontend','Program')}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tbl in models.su %}
                            <tr {% if dayofweek == 0 and tbl.from_time <= currenttime and tbl.to_time >= currenttime %} class="active" {% endif %}>
                                <td class="tg-031e text-center" width="15%">{{tbl.from_time|date('H:i')}} &mdash; {{tbl.to_time|date('H:i')}}</td>
                                <td class="tg-031e"><a href="/programmy/{{tbl.youtube_playlists_id}}">{{tbl.name}}</a>{% if tbl.tags %}<span class="onairttb" style="{% if tbl.tags != 'Радиоэфир - Live' %}color: #5e5e5e;{% endif %}">{{ tbl.tags }}</span>{% endif %}<!--{# if tbl.onair #}<span class="onairttb">{# t('frontend','Прямой эфир') #}</span>{# endif #}--></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endif %}
    </div>
</div>
