{{ use('yii/bootstrap/ActiveForm') }}
{{ use('himiklab/yii2/recaptcha/ReCaptcha') }}

{{ set(this, 'title', 'RESONANCE Radio | О нас') }}
{{this.registerMetaTag({'name':'keywords', 'content':'RESONANCE Radio | О нас'|e})}}
{{this.registerMetaTag({'name':'description', 'content':'RESONANCE Radio | О нас'|e})}}

{{ set(this, 'params', { 'breadcrumbs' : { '' : this.title } }) }}

<div class="container">
    <div class="jumbotron">
        <p>Радио «RESONANCE» является старейшей русскоязычной радиостанцией в Северной Америке. В 1979 году наше радио стало пионером радиовещания на русском языке и сегодня является крупнейшим на Среднем Западе, охватив почти 500-тысячное русскоязычное население Чикаго и пригородов. Прямой эфир и архив нашего радио слушает в интернете большое количество людей по всему миру.
        </p>
        <p>Радио «RESONANCE» – это средство массовой информации, целью которого является развитие и объединение русскоязычной общины посредством создания культурно-образовательных и развлекательных программ с позитивной тенденцией. Наше радио для тех, кто любит историю, для тех, кто любит хорошую музыку и желает говорить со своими детьми по-русски.
        </p>
        <div class="row">
            <div class="col-md-6">
                <h3>Контакты:</h3>
                <p>Ethnic Media United.<br> 325 North Milwaukee Avenue, Units E&F, <br>Wheeling, IL 60090<br>
                    Resonance Radio Office (847) 498-3400<br>
                    Resonance Radio On-Air (847) 498-3367<br>
                    Fax (847) 498-3488<br>
                    Email: <a href="mailto:radio@ethnicmedia.us">radio@ethnicmedia.us</a>
                </p>
            </div>
            <div class="col-md-6">
                <h3>Ваши отзывы и пожелания важны нам!<br><small>Чтобы связаться с нами, заполните форму ниже:</small></h3>
                    {% set form = active_form_begin({
            'id' : 'contact-form',
            'options' : {
                'data-pjax' : true
            }
        })
                    %}
                    {{ form.field(model,'name').textInput({'placeholder' :  t("frontend", "Your name"), 'class' : 'form-control', 'autofocus' : 'true'}).label(t("frontend", "Name")) | raw }}
                    {{ form.field(model,'email').textInput({'placeholder' :  t("frontend", "Your E-mail"), 'class' : 'form-control', 'autofocus' : 'true'}).label(t("frontend", "Email")) | raw }}
                    {{ form.field(model,'body').textArea({'rows' : 3, 'class' : 'form-control' }).label(t("frontend", "Message")) | raw}}
                    {{ form.field(model,'subject').hiddenInput().label(false) | raw}}
                    {{ re_captcha_widget({'name':'reCaptchaOnline','widgetOptions':{'id':'reCaptchaOnline'},'siteKey':app.params['googlecaptchakey']})|raw }}
                    {{ html.error(model,'reCaptchaOnline') | raw }}
                <button type="submit" class="btn btn-default pull-right">{{ t("frontend", "Send") }}</button>
                <div class="clearfix"></div>

                {{ active_form_end() }}
                {% if(app.session.hasFlash('success')) %}
                    <div class="info">
                        {{ app.session.getFlash('success') }}
                    </div>
                {% endif %}
                {% if(app.session.hasFlash('error')) %}
                    <div class="info">
                        {{ app.session.getFlash('error') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<iframe style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJgZ7wPMm-D4gRZxYoZSA7OcA&key=AIzaSyAhEnyThh8W00SHK4LJWgXlNWs5RACS45A&language=en" allowfullscreen="" width="100%" height="450" frameborder="0">&amp;amp;amp;amp;amp;amp;lt;span id="selection-marker-1" class="redactor-selection-marker"&amp;amp;amp;amp;amp;amp;gt;&amp;amp;amp;amp;amp;amp;lt;/span&amp;amp;amp;amp;amp;amp;gt;
</iframe>

