{{use('frontend/widgets/CustomBlock')}}
{{use('frontend/widgets/RealtimeRadio')}}
<div class="top-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {{t('frontend','Live')}}
                {{realtimeRadio_widget()}}
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 text-right">
                {{CustomBlock_widget({'block_name':'social_links'})}}
            </div>
        </div>
        <div class="row text-center">
            {% if exception.statusCode and exception.statusCode == 404 %}
                <h1>{{exception.statusCode}}</h1>
                <p class="error-message">
                    {{t('frontend','Sorry, this page not found')}}
                </p>
            {% elseif exception.statusCode and exception.statusCode == 403 %}
                <h1>{{texception.statusCode}}</h1>
                <p class="error-message">
                    {{t('frontend','Sorry, you don`t have enough permission for this page')}}
                </p>
            {% elseif exception.statusCode and exception.statusCode == 500 %}
                <h1>{{exception.statusCode}}</h1>
                <p class="error-message">
                    {{t('frontend','Soory, an internal server error occurred')}}
                </p>
            {% else %}
                <h1>{{exception.statusCode}}</h1>
            {% endif %}
        </div>
    </div>
</div>


{% if exception.statusCode and exception.statusCode != 404 and exception.statusCode != 403 and exception.statusCode != 500 %}
    <div class="alert alert-danger">
        {{message|e}}
    </div>
{% endif %}


