{{use('frontend/widgets/ChanelYoutube')}}
{{use('frontend/widgets/LastvideoYoutube')}}
{{use('frontend/widgets/TimetableSlider')}}
{{use('frontend/widgets/Vote')}}
{{use('frontend/widgets/OnlineForm')}}
{{use('frontend/widgets/CustomBlock')}}
{{use('frontend/widgets/News')}}
{#use('frontend/widgets/CurrentProgram')#}
{#use('frontend/widgets/ProgramsGallery')#}
{{use('frontend/widgets/ProgramSlider') }}
{{use('frontend/widgets/Banners')}}
{{use('frontend/widgets/OpinionsForm')}}
{{use('frontend/widgets/BannerCarousel')}}

{{set(this,'title', title|e)}}
{{this.registerMetaTag({'name':'keywords', 'content':keywords|e})}}
{{this.registerMetaTag({'name':'description', 'content':metadesc|e})}}

<div class="top-slider">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <p>
                    {% if live and live == 1 %}
                        Live &nbsp;                       
                    {% endif %}
                    Слушайте нас:
                </p>
                <p>
                    <a href="javascript:;" onclick="window.open('/radio-voice', '{{ t('frontend','Radio 1330AM/95.9FM') }}', 'width=400,height=200,menubar=no,toolbar=no,location=no,status=no')"><i class="fa fa-volume-up"></i> онлайн</a>
                </p>
                {{CustomBlock_widget({'block_name':'left_social_links'})}}
            </div>
            <div class="col-md-8">
                <h1>RESONANCE</h1>
                <h2>Radio 1330AM/95.9FM</h2>
            </div>
            <div class="col-md-1 text-right">
                {{CustomBlock_widget({'block_name':'social_links'})}}
            </div>
        </div>
        <!--
    <div class="row text-center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{# videocode#}" frameborder="0" allowfullscreen></iframe>
        {#lastvideoYoutube_widget({'id_chanel':'UCEOPwtJG3ZfFHVqmIUA3FJw'})#}
    </div>
        -->
    </div>
</div>
{#CurrentProgram_widget()#}

<section class="section-second" style="padding-top: 20px;">
    <div class="container">
        <div class="row">
            {{ bannerCarousel_widget({ 'position': 1 }) }}
            {# banners_widget({'position':'home_pege_top'}) #}
        </div>
    </div>
</section>
{{timetableSlider_widget()}}

{#ProgramsGallery_widget()#}
{#programSlider_widget()#}
<section class="section-second">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                {{ online_form_widget() }}
            </div>
            <div class="col-sm-6">
                {{ vote_widget() }}
            </div>
        </div>
    </div>
</section>
<section class="section-one">
    <div class="container">
        <div class="row">
            {{ news_widget() }}
            {{ banners_widget({'position':'home_voteblock'}) }}
        </div>
    </div>
</section>
<section class="section-second">
    <div class="container">
        <div class="row">
            <div class="hidden">
                {{CustomBlock_widget({'block_name':'opinions_users_and_authors'})}}
            </div>
            <div class="col-md-12">
                {{ OpinionsForm_widget() }}
            </div>
        </div>
    </div>
</section>

{% set script %}
    $('.flexslider').flexslider({
    animation: "slide",
    slideshow: false,
    itemWidth: 206,
    itemMargin: 4,
    minItems: 4,
    maxItems: 4,
    move: 1,
    pauseOnHover: true,
    controlNav: false,
    animationLoop: false, 
    });
{% endset %}

{{ this.registerJs(script,4,'vue-widget') }}
