/* General Menu Styles */
.flexmenu {margin-bottom: 1.5em; }
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.js .menu {
  /* If we have JavaScript enabled and we're just waiting for flexMenu to load and run, hide list items that don't fit on one line. If JavaScript is not enabled, just show 'em all. */
  overflow: hidden;
}

.menu > li {
  margin: 0 0 0 1.5em;
  float: left;
  /*height: 2em;*/
}

.menu > li:first-child {
  margin-left: 0;
}

.menu a {
  text-decoration: none;
  padding: .25em .25em .25em .25em;
  color: #fff;
  line-height: 2em;
}
.menu a:hover {text-shadow: 0px 1px 10px rgb(255, 255, 255);}

.clear {
  clear: both;
}

/* flexMenu styles */

.flexMenu-viewMore > a {
  background-color: #0277bd !important;
}

.flexMenu-viewMore.active > a, .flexMenu-viewMore > a:hover {
  background-color: #0277bd !important;
}

.flexMenu-popup {
  z-index: 1999;
  list-style-type: none;
  padding: 0;
  background-color: #0277bd !important;
  margin: 0;
  width: 100%;
  left: 0;
}

.flexMenu-popup li {float: left;}

.lt-ie8 .flexMenu-popup {
}

.flexMenu-popup a {
  display: block;
  padding: 0.2em 0.4em;
  margin: 0.5em;
  line-height: 1em;
}

.flexMenu-popup a:hover {
  background-color: #0277bd !important;
  color: #fff;
  display: block;
}

@media only screen and (max-width : 647px) {
  .flexMenu-popup li {float: none;}
}