.channel-list {
    list-style: none;
    padding: 0;
}
.item-image {
    width: 100%;
}

.playlists .panel-body {
    max-height: 150px;
    padding-bottom: 5px;
}
.playlists .panel-body div {
    width: 100%;
    max-height: 140px;
    overflow-y: hidden;
}

.playlists .panel-footer {
    height: 90px;
    background-color: white;
    font-size: 90%;
    overflow-y: hidden;
}
.playlists .panel-footer a {
    color: #fb8104;
}
.videolists {
    padding-top: 15px;
}
.videolists .pagination {

}
.videolists .pagination > .active > a,
.videolists .pagination > .active > span,
.videolists .pagination > .active > a:hover,
.videolists .pagination > .active > span:hover,
.videolists .pagination > .active > a:focus,
.videolists .pagination > .active > span:focus {
    background-color: #9d9b7f;
    border-color: #9d9b7f;
    color: #fff;
}
.videolists .pagination > li > a, .videolists .pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #9d9b7f;
}

.listreclam .pagination > .active > a,
.listreclam .pagination > .active > span,
.listreclam .pagination > .active > a:hover,
.listreclam .pagination > .active > span:hover,
.listreclam .pagination > .active > a:focus,
.listreclam .pagination > .active > span:focus {
    background-color: #9d9b7f;
    border-color: #9d9b7f;
    color: #fff;
}
.listreclam .pagination > li > a, .listreclam .pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #9d9b7f;
}

.audio-list .panel-default > .panel-heading {
    background-image: none;
    background-color: white;
    color: #9d9b7f;
    font-weight: bold;
}

.text-warning th.tg-031e {
    background-color: #9d9b7f;
    color: white;
    font-weight: 600;
}
th.tg-031e {
    color: #8a6d3b;
    font-weight: 500;
}
td.tg-031e, td.tg-031e a {
    color: #5e5e5e;
}
.headreclam > div {
    background-color: #9d9b7f;
    color: white;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}
.reclamtimetable {
    display: table-row;
    vertical-align: middle;
}
.reclamtimetable > div {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    background-color: white;
    color: #5e5e5e;
    border-bottom: 1px solid #9d9b7f;
}

#carousel {
    width:100%;
    height:350px;
    position:relative;
}
#carousel img {
    visibility:hidden; /* hide images until carousel can handle them */
    cursor:pointer; /* otherwise it's not as obvious items can be clicked */
}

