/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {outline: none; font-family: Roboto, sans-serif; font-size: 16px;}

header {float: left; width: 100%; min-height: 75px;}
header .navbar {height: 75px;}
header .navbar-brand {height: 75px; padding-right: 35px;}
header .navbar-toggle {padding: 19px 10px;}
header .navbar-nav {margin: 0 -15px;}
header .navbar-nav>li>a {line-height: 45px;}
header .navbar-right {padding: 15px 0px 15px 10px;}
.modal-backdrop.in {z-index: 5;}
.top-slider {background: url(../img/header_bg2.jpg) top center no-repeat; width: 100%; color: #fff; padding: 20px 0;}
.top-slider .col-md-1 a {color: #fff;
                         border: 1px solid #fff;
                         border-radius: 50%;
                         padding: 9px;
                         display: inline-block;
                         width: 40px;
                         height: 40px;
                         margin: 10px 4px;}
.top-slider .col-md-3 a {color: #fff;}
.top-slider h1 {font-size: 12rem; color: #ff8303;}
.top-slider h2 {font-size: 7rem;}
content, footer {float: left; width: 100%;}
.btn-radio {background-color: #f47f08; color: #fff; box-shadow: none; text-shadow: none;}
.section-one {color: #9d9b7f; padding-bottom: 20px;}
.section-one a {margin-bottom: 20px;color: #9d9b7f;}
.section-one a:hover {text-decoration: none}
.section-second {color: #d1d1d1; background-color: #2a2a2a; padding-bottom: 20px;}
footer {background-color: #222;}
footer .navbar-inverse {border-radius: 0; margin-bottom: 0;}
#player1-container .mejs__time-buffering, #player2-container .mejs__time-current,
#player1-container .mejs__time-handle, #player2-container .mejs__time-loaded,
#player1-container .mejs__time-marker, #player2-container .mejs__time-total {
    height: 2px;
}

#player1-container .mejs__time-total {
    margin-top: 9px;
}
#player1-container .mejs__time-handle {
    left: -10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff;
    top: -5px;
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 1;
    border: none;
}
.no-padding {padding: 0}
.no-padding-left {padding-left: 0;}
.no-padding-right {padding-right: 0;}
.s-button,.online-s-button {background-repeat: no-repeat;background-position: 5px;}
.f-message,.online-f-message {padding-bottom: 6px;padding-top: 6px;font-size: 14px;position: relative;display: none;margin-bottom: 0;}
.f-message .close-button,.online-f-message .close-button {font-size: 18px;position: absolute;right: 10px;top: 5px;cursor: pointer;}
.g-recaptcha {margin-bottom: 15px}

.radio label {display: block}

.carousel { position:relative; min-height: 20px; height:auto !important; height: 20px; }
.carousel .next,
.carousel .prev { display:none; width:56px; height:56px; position:absolute; top: 100px; margin-top:-28px; z-index:9999; cursor:pointer; }
.carousel .prev { margin-left:-60px; background:url(../images/prev.png) 0 0 no-repeat;  }
.carousel .next { margin-right:-60px;  background:url(../images/next.png) 0 0 no-repeat; right: 0; }
.carousel li img { width:100%; height:auto; }
.paging { position:absolute; z-index:9998; }
.paging > a { display:block; cursor:pointer; width:40px; height:40px; float:left; background:url(../images/dots.png) 0px -40px no-repeat; }
.paging > a:hover,
.paging > a.current { background:url(../images/dots.png) 0px 0px no-repeat;  }
.badge { display:block; width:104px; height:104px; background:url(../images/badge.png) 0 0 no-repeat; z-index:9000; position:absolute; top:-3px; left:-3px; }
img {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    -o-user-select: none;
    user-select: none;    
}
.panel-body {padding: 5px;}

@media (max-width: 1100px) {
    .videoframe {
        width: 560px;
        height: 315px;
    }
    .aboutprogram {
        max-height: 303px;
    }
}
@media (min-width: 1600px) {
    .videoframe {
        width: 560px;
        height: 315px;
    }
    .aboutprogram {
        max-height: 303px;
    }
}
@media (min-width: 1200px) {
    .videoframe {
        width: 560px;
        height: 315px;
    }
    .aboutprogram {
        max-height: 303px;
    }
}
@media (max-width: 992px) {
    .videoframe {
        width: 448px;
        height: 252px;
    }
    .aboutprogram {
        max-height: 252px;
    }
}
@media (max-width: 768px) {
    .videoframe {
        width: 358px;
        height: 201px;
    }
    .aboutprogram {
        max-height: 201px;
    }
}
@media (max-width: 640px) {
    .videoframe {
        width: 280px;
        height: 157px;
    }
    .aboutprogram {
        max-height: 315px;
    }
}
@media (max-width: 320px) {
    .videoframe {
        width: 168px;
        height: 94px;
    }
    .aboutprogram {
        max-height: 315px;
    }
}
@media (max-width: 1100px) {
    .top-slider h1 {
        font-size: 5rem;
    }
    .top-slider h2 {
        font-size: 3rem;
    }
}
.aboutprogram {
    overflow-y: hidden;
}
.error-message {
    font-size: 1.7em;
    font-weight: 600;
    color: white;
}
.radivoice_box {
    min-height: 200px;
    min-width: 400px;
    background: rgba(0, 0, 0, 0) url("../img/header_bg2.jpg") no-repeat scroll center top;
}
.voice_section {
    margin: 20px auto;
    text-align: center;
}
#linkradio {
    color: #ff8303;
    border-bottom: dotted;
    cursor: pointer;
    font-size: 1.2em;
}
#audio_box audio {
    display: block;
}
.audiocontent {
    padding: 10px;
    border: 1px solid #d1d1d1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#audio-files-list {
    border-left: 1px solid #d1d1d1;
}
.margin-section {
    margin-top: 10px;
    margin-bottom: 10px;
}
.program-thumb {
    max-width: 50%;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}
.archive_audio_title {
    text-align: center;
    margin-bottom: 10px;
}
.slic-slide {
    text-align: center;
    margin-top: 15px;
}
.onairttb {
    display: inline-block;
    color: red;
    text-align: right;
    float: right;
}
.archivelists {
    border: 1px solid #9d9b7f;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}
.archivelists td {
    vertical-align: middle !important;
}
.table-header {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #9d9b7f;
    margin-bottom: 20px;
    color: white;
}
.border_right_head {
    border-right: 1px solid white;
}
.border_right {
    border-right: 1px solid #9d9b7f;
}
.datetime {
    font-size: 0.9em;
}
.table-col {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
}

#topcarousel {display: none; max-height: 250px;}
#topcarousel .flex-direction-nav a {
    opacity: 0.5;
    color: white;
    width: 30px;
    height: 30px;
    top: 60%;
}
#topcarousel .flex-direction-nav .flex-prev {
    left: -30px;
}
#topcarousel .flex-direction-nav .flex-next {
    right: -30px;
}
#topcarousel .flex-direction-nav a::before {
    color: rgba(255,255,255,0.5);
    font-size: 25px;
}
#topcarousel .flex-direction-nav a:hover {
    opacity: 0.9;
}
#topcarousel .flex-direction-nav a::before:hover {
    color: rgba(255,255,255,0.9);
}
.media-wrapper .audioplayer .volume_static, .soundclass .audioplayer .volume_static { width: 50px;}
.soundbox .audioplayer.under-400:not(.zoomsounds-wrapper-bg-bellow) .controls-volume {display: block;}
.soundbox .audioplayer .volume_static {width: 50px;}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {background-color: #9d9b7f; border-color: #9d9b7f;}
.pagination > li > a, .pagination > li > span {color: #9d9b7f;}
a.download-button { color: #9d9b7f; }

figure {position: relative;}
figure h4 {position: absolute;}
figure p {display: table-cell; vertical-align: bottom; height: 170px; padding-bottom: 10px;}

.class-item.card-box {
    border: 1px solid #323232;
    margin: 10px;
    padding: 0 15px 5px 15px;
}
.class-item.card-box a {
    color: #f8800b;
}
.class-item.card-box .box-label {
    color: #2b2b2b;
}
.class-item.card-box p {
    color: #333;
    padding: 10px 0px 0px 0px;
}
.class-item.card-box h3 {
    color: #f8800b;
}
.class-action {
    text-align: right;
    margin-bottom: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.modalphone h5 {
    color: #777;
}
.modalphone .modal-body, .modalphone .modal-body a {
    color: #777;
}
.modalphone .btn:hover, .btn:focus, .btn.focus {
    color: #ff8303;
}
.nav > li > a {padding: 10px 6px; font-size: 13px;}

.chatmodal {
    position: fixed;
    top: 20px;
    right: 5%;
    z-index: 9999;
}